In [1]:
import warnings
warnings.filterwarnings('ignore')

# Import our dependencies
import pandas as pd

In [ ]:
#  Import and read the input csv
fsle_df = pd.read_csv('../../Raw_Data/food-supply-vs-life-expectancy.csv', encoding='iso-8859-1')
fsle_df

In [2]:
#  Import and read the updated input csv (After any manual updates to the CSV file)
fsle_df = pd.read_csv('food_supply_life_expectancy.csv')
fsle_df

,Entity,Year,Daily caloric supply (OWID based on UN FAO & historical sources)
0,Afghanistan,2018,2040.00
1,Africa,2018,2604.25
2,Albania,2018,3360.00
3,Algeria,2018,3322.00
4,Angola,2018,2385.00
...,...,...,...
180,Vietnam,2018,3025.00
181,World,2018,2928.40
182,Yemen,2018,2154.00
183,Zambia,2018,2002.00
184,Zimbabwe,2018,1908.00

In [ ]:
# Drop the population estimate column
fsle_df = fsle_df.drop(['Population (historical estimates)','Continent'], 1)

In [ ]:
# Drop the udpated file index column
fsle_df = fsle_df.drop(['Unnamed: 0'], 1)

In [ ]:
fsle_df

In [ ]:
fsle_df = fsle_df[fsle_df['Year']==2018]
fsle_df

In [ ]:
fsle_df.to_csv('food_supply_life_expectancy.csv', index=False)

In [3]:
# Open the master list of countries
countries_df = pd.read_csv('../master_country_list/country_profile_urls.csv')
countries_df = countries_df.drop(['profile_url'], 1)

In [4]:
country_list = countries_df['country'].tolist()
country_list

['Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Costa Rica',
 "Côte d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong (China)',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyz Republic',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Taiwan (China)',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Türkiye',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Kingdom',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [5]:
# Create a list of Food Supply countries
fs_countries = fsle_df['Entity'].tolist()
fs_countries

['Afghanistan',
 'Africa',
 'Albania',
 'Algeria',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Asia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cabo Verde',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Costa Rica',
 "Côte d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Europe',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'High-income countries',
 'Honduras',
 'Hong Kong (China)',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyz Republic',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Lithuania',
 'Low-income countries',
 'Lower-middle-income countries',
 'Luxembourg',
 'Macao',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Melanesia',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North America',
 'North Korea',
 'North Macedonia',
 'Norway',
 'Oceania',
 'Oman',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Polynesia',
 'Portugal',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'South Africa',
 'South America',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Taiwan (China)',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States of America',
 'Upper-middle-income countries',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'World',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [6]:
# clean the FS data based on the SS country list
no_match = []

for country in fs_countries:
    if country in country_list:
        continue
    else:
        no_match.append(country)

In [7]:
# Likely need to do manual country name clean-up for accented characters and abbreviations.
no_match

['Afghanistan',
 'Africa',
 'Asia',
 'Bosnia and Herzegovina',
 'Europe',
 'French Polynesia',
 'High-income countries',
 'Iraq',
 'Low-income countries',
 'Lower-middle-income countries',
 'Macao',
 'Maldives',
 'Melanesia',
 'Mongolia',
 'Montenegro',
 'New Caledonia',
 'North America',
 'North Korea',
 'Oceania',
 'Polynesia',
 'Saint Kitts and Nevis',
 'South America',
 'Timor',
 'Turkey',
 'United Arab Emirates',
 'Upper-middle-income countries',
 'World']

In [10]:
fsle_clean_df = fsle_df.drop(fsle_df[fsle_df['Entity'].isin(no_match)].index.tolist())
fsle_clean_df

,Entity,Year,Daily caloric supply (OWID based on UN FAO & historical sources)
2,Albania,2018,3360.0
3,Algeria,2018,3322.0
4,Angola,2018,2385.0
5,Antigua and Barbuda,2018,2445.0
6,Argentina,2018,3307.0
...,...,...,...
179,Venezuela,2018,2120.0
180,Vietnam,2018,3025.0
182,Yemen,2018,2154.0
183,Zambia,2018,2002.0
184,Zimbabwe,2018,1908.0

In [11]:
fsle_clean_df = fsle_clean_df.dropna()
fsle_clean_df

,Entity,Year,Daily caloric supply (OWID based on UN FAO & historical sources)
2,Albania,2018,3360.0
3,Algeria,2018,3322.0
4,Angola,2018,2385.0
5,Antigua and Barbuda,2018,2445.0
6,Argentina,2018,3307.0
...,...,...,...
179,Venezuela,2018,2120.0
180,Vietnam,2018,3025.0
182,Yemen,2018,2154.0
183,Zambia,2018,2002.0
184,Zimbabwe,2018,1908.0

In [12]:
fsle_clean_df.to_csv('food_supply_life_expectancy.csv', index=False)

In [ ]:
#fsle_clean_transform_df = fsle_clean_df.set_index('Entity').T
#fsle_clean_transform_df

In [ ]:
#fsle_clean_transform_df.to_csv('food_supply_life_expectancy_transform.csv')