In [1]:
# Import our dependencies
import pandas as pd

In [2]:
#  Import and read the input csv
fsle_df = pd.read_csv('../Cluster_Analysis_Data/food_supply_life_expectancy.csv')
#, encoding='iso-8859-1'
fsle_df

     Unnamed: 0              country  daily calories (2018)
0            18              Albania                   3360
1            40              Algeria                   3322
2            84               Angola                   2385
3           106  Antigua and Barbuda                   2445
4           128            Argentina                   3307
..          ...                  ...                    ...
149        3758            Venezuela                   2120
150        3780              Vietnam                   3025
151        3802                Yemen                   2154
152        3824               Zambia                   2002
153        3846             Zimbabwe                   1908

[154 rows x 3 columns]

In [4]:
# Drop the udpated file index column
fsle_df = fsle_df.drop(['Unnamed: 0'], 1)

C:\Temp\ipykernel_1432\3427511736.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  fsle_df = fsle_df.drop(['Unnamed: 0'], 1)

In [5]:
fsle_df

                 country  daily calories (2018)
0                Albania                   3360
1                Algeria                   3322
2                 Angola                   2385
3    Antigua and Barbuda                   2445
4              Argentina                   3307
..                   ...                    ...
149            Venezuela                   2120
150              Vietnam                   3025
151                Yemen                   2154
152               Zambia                   2002
153             Zimbabwe                   1908

[154 rows x 2 columns]

In [ ]:
fsle_df = fsle_df[fsle_df['Year']==2018]
fsle_df

In [ ]:
# Open the master list of countries
countries_df = pd.read_csv('../master_country_list/country_profile_urls.csv')
countries_df = countries_df.drop(['profile_url'], 1)

In [ ]:
country_list = countries_df['country'].tolist()
country_list

In [ ]:
# Create a list of Food Supply countries
fs_countries = fsle_df['Entity'].tolist()
fs_countries

In [ ]:
# clean the FS data based on the SS country list
no_match = []

for country in fs_countries:
    if country in country_list:
        continue
    else:
        no_match.append(country)

In [ ]:
# Likely need to do manual country name clean-up for accented characters and abbreviations.
no_match

In [7]:
fsle_clean_df = fsle_df.dropna()
fsle_clean_df

                 country  daily calories (2018)
0                Albania                   3360
1                Algeria                   3322
2                 Angola                   2385
3    Antigua and Barbuda                   2445
4              Argentina                   3307
..                   ...                    ...
149            Venezuela                   2120
150              Vietnam                   3025
151                Yemen                   2154
152               Zambia                   2002
153             Zimbabwe                   1908

[154 rows x 2 columns]

In [8]:
fsle_clean_df.to_csv('food_supply_life_expectancy.csv', index=False)

In [ ]:
#fsle_clean_transform_df = fsle_clean_df.set_index('Entity').T
#fsle_clean_transform_df

In [ ]:
#fsle_clean_transform_df.to_csv('food_supply_life_expectancy_transform.csv')