In [4]:
import pandas as pd
import numpy as np

In [2]:
country_list_n = []
with open('../Resources/country_list.txt') as f:
    country_list_n = f.readlines()
    print (country_list_n)

['Albania\n', 'Algeria\n', 'Angola\n', 'Antigua and Barbuda\n', 'Argentina\n', 'Armenia\n', 'Aruba\n', 'Australia\n', 'Austria\n', 'Azerbaijan\n', 'Bahamas\n', 'Bahrain\n', 'Bangladesh\n', 'Barbados\n', 'Belarus\n', 'Belgium\n', 'Belize\n', 'Benin\n', 'Bhutan\n', 'Bolivia\n', 'Botswana\n', 'Brazil\n', 'Brunei Darussalam\n', 'Bulgaria\n', 'Burkina Faso\n', 'Burundi\n', 'Cabo Verde\n', 'Cambodia\n', 'Cameroon\n', 'Canada\n', 'Central African Republic\n', 'Chad\n', 'Chile\n', 'China\n', 'Colombia\n', 'Congo\n', 'Costa Rica\n', "Cote d'Ivoire\n", 'Croatia\n', 'Cuba\n', 'Cyprus\n', 'Czechia\n', 'Democratic Republic of the Congo\n', 'Denmark\n', 'Djibouti\n', 'Dominican Republic\n', 'Ecuador\n', 'Egypt\n', 'El Salvador\n', 'Equatorial Guinea\n', 'Estonia\n', 'Eswatini\n', 'Ethiopia\n', 'Fiji\n', 'Finland\n', 'France\n', 'Gabon\n', 'Gambia\n', 'Georgia\n', 'Germany\n', 'Ghana\n', 'Greece\n', 'Grenada\n', 'Guatemala\n', 'Guinea\n', 'Guinea-Bissau\n', 'Guyana\n', 'Haiti\n', 'Honduras\n', 'Hungary\n', 'Iceland\n', 'India\n', 'Indonesia\n', 'Iran\n', 'Ireland\n', 'Israel\n', 'Italy\n', 'Jamaica\n', 'Japan\n', 'Jordan\n', 'Kazakhstan\n', 'Kenya\n', 'Kiribati\n', 'Kuwait\n', 'Kyrgyz Republic\n', "Lao People's Democratic Republic\n", 'Latvia\n', 'Lebanon\n', 'Lesotho\n', 'Liberia\n', 'Libya\n', 'Lithuania\n', 'Luxembourg\n', 'Madagascar\n', 'Malawi\n', 'Malaysia\n', 'Mali\n', 'Malta\n', 'Mauritania\n', 'Mauritius\n', 'Mexico\n', 'Micronesia\n', 'Moldova\n', 'Morocco\n', 'Mozambique\n', 'Myanmar\n', 'Namibia\n', 'Nepal\n', 'Netherlands\n', 'New Zealand\n', 'Nicaragua\n', 'Niger\n', 'Nigeria\n', 'North Macedonia\n', 'Norway\n', 'Oman\n', 'Pakistan\n', 'Panama\n', 'Papua New Guinea\n', 'Paraguay\n', 'Peru\n', 'Philippines\n', 'Poland\n', 'Portugal\n', 'Qatar\n', 'Romania\n', 'Russian Federation\n', 'Rwanda\n', 'Saint Lucia\n', 'Saint Vincent and the Grenadines\n', 'Samoa\n', 'Sao Tome and Principe\n', 'Saudi Arabia\n', 'Senegal\n', 'Serbia\n', 'Sierra Leone\n', 'Singapore\n', 'Slovakia\n', 'Slovenia\n', 'Solomon Islands\n', 'South Africa\n', 'South Korea\n', 'Spain\n', 'Sri Lanka\n', 'Sudan\n', 'Suriname\n', 'Sweden\n', 'Switzerland\n', 'Syrian Arab Republic\n', 'Tajikistan\n', 'Tanzania\n', 'Thailand\n', 'Togo\n', 'Trinidad and Tobago\n', 'Tunisia\n', 'Turkiye\n', 'Turkmenistan\n', 'Uganda\n', 'Ukraine\n', 'United Kingdom\n', 'United States of America\n', 'Uruguay\n', 'Uzbekistan\n', 'Vanuatu\n', 'Venezuela\n', 'Vietnam\n', 'Yemen\n', 'Zambia\n', 'Zimbabwe\n']

In [2]:
country_list_n

NameError: name 'country_list_n' is not defined

In [4]:
country_list = []
for sub in country_list_n:
    country_list.append(sub.replace("\n", ""))

country_list

['Albania',
 'Algeria',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyz Republic',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkiye',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Kingdom',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [5]:
print(len(country_list))

169

In [6]:
year_list_n = []
with open('../Resources/year_list.txt') as f:
    year_list_n = f.readlines()
    print (year_list_n)

['2000\n', '2001\n', '2002\n', '2003\n', '2004\n', '2005\n', '2006\n', '2007\n', '2008\n', '2009\n', '2010\n', '2011\n', '2012\n', '2013\n', '2014\n', '2015\n', '2016\n', '2017\n', '2018\n', '2019']

In [7]:
year_list = []
for sub in year_list_n:
    year_list.append(sub.replace("\n", ""))

year_list

['2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019']

In [8]:
country_year_list = []
for country in country_list:
    for year in year_list:
        country_year_list.append(country +" " +year)

In [9]:
country_year_list

['Albania 2000',
 'Albania 2001',
 'Albania 2002',
 'Albania 2003',
 'Albania 2004',
 'Albania 2005',
 'Albania 2006',
 'Albania 2007',
 'Albania 2008',
 'Albania 2009',
 'Albania 2010',
 'Albania 2011',
 'Albania 2012',
 'Albania 2013',
 'Albania 2014',
 'Albania 2015',
 'Albania 2016',
 'Albania 2017',
 'Albania 2018',
 'Albania 2019',
 'Algeria 2000',
 'Algeria 2001',
 'Algeria 2002',
 'Algeria 2003',
 'Algeria 2004',
 'Algeria 2005',
 'Algeria 2006',
 'Algeria 2007',
 'Algeria 2008',
 'Algeria 2009',
 'Algeria 2010',
 'Algeria 2011',
 'Algeria 2012',
 'Algeria 2013',
 'Algeria 2014',
 'Algeria 2015',
 'Algeria 2016',
 'Algeria 2017',
 'Algeria 2018',
 'Algeria 2019',
 'Angola 2000',
 'Angola 2001',
 'Angola 2002',
 'Angola 2003',
 'Angola 2004',
 'Angola 2005',
 'Angola 2006',
 'Angola 2007',
 'Angola 2008',
 'Angola 2009',
 'Angola 2010',
 'Angola 2011',
 'Angola 2012',
 'Angola 2013',
 'Angola 2014',
 'Angola 2015',
 'Angola 2016',
 'Angola 2017',
 'Angola 2018',
 'Angola 2019',
 'Antigua and Barbuda 2000',
 'Antigua and Barbuda 2001',
 'Antigua and Barbuda 2002',
 'Antigua and Barbuda 2003',
 'Antigua and Barbuda 2004',
 'Antigua and Barbuda 2005',
 'Antigua and Barbuda 2006',
 'Antigua and Barbuda 2007',
 'Antigua and Barbuda 2008',
 'Antigua and Barbuda 2009',
 'Antigua and Barbuda 2010',
 'Antigua and Barbuda 2011',
 'Antigua and Barbuda 2012',
 'Antigua and Barbuda 2013',
 'Antigua and Barbuda 2014',
 'Antigua and Barbuda 2015',
 'Antigua and Barbuda 2016',
 'Antigua and Barbuda 2017',
 'Antigua and Barbuda 2018',
 'Antigua and Barbuda 2019',
 'Argentina 2000',
 'Argentina 2001',
 'Argentina 2002',
 'Argentina 2003',
 'Argentina 2004',
 'Argentina 2005',
 'Argentina 2006',
 'Argentina 2007',
 'Argentina 2008',
 'Argentina 2009',
 'Argentina 2010',
 'Argentina 2011',
 'Argentina 2012',
 'Argentina 2013',
 'Argentina 2014',
 'Argentina 2015',
 'Argentina 2016',
 'Argentina 2017',
 'Argentina 2018',
 'Argentina 2019',
 'Armenia 2000',
 'Armenia 2001',
 'Armenia 2002',
 'Armenia 2003',
 'Armenia 2004',
 'Armenia 2005',
 'Armenia 2006',
 'Armenia 2007',
 'Armenia 2008',
 'Armenia 2009',
 'Armenia 2010',
 'Armenia 2011',
 'Armenia 2012',
 'Armenia 2013',
 'Armenia 2014',
 'Armenia 2015',
 'Armenia 2016',
 'Armenia 2017',
 'Armenia 2018',
 'Armenia 2019',
 'Aruba 2000',
 'Aruba 2001',
 'Aruba 2002',
 'Aruba 2003',
 'Aruba 2004',
 'Aruba 2005',
 'Aruba 2006',
 'Aruba 2007',
 'Aruba 2008',
 'Aruba 2009',
 'Aruba 2010',
 'Aruba 2011',
 'Aruba 2012',
 'Aruba 2013',
 'Aruba 2014',
 'Aruba 2015',
 'Aruba 2016',
 'Aruba 2017',
 'Aruba 2018',
 'Aruba 2019',
 'Australia 2000',
 'Australia 2001',
 'Australia 2002',
 'Australia 2003',
 'Australia 2004',
 'Australia 2005',
 'Australia 2006',
 'Australia 2007',
 'Australia 2008',
 'Australia 2009',
 'Australia 2010',
 'Australia 2011',
 'Australia 2012',
 'Australia 2013',
 'Australia 2014',
 'Australia 2015',
 'Australia 2016',
 'Australia 2017',
 'Australia 2018',
 'Australia 2019',
 'Austria 2000',
 'Austria 2001',
 'Austria 2002',
 'Austria 2003',
 'Austria 2004',
 'Austria 2005',
 'Austria 2006',
 'Austria 2007',
 'Austria 2008',
 'Austria 2009',
 'Austria 2010',
 'Austria 2011',
 'Austria 2012',
 'Austria 2013',
 'Austria 2014',
 'Austria 2015',
 'Austria 2016',
 'Austria 2017',
 'Austria 2018',
 'Austria 2019',
 'Azerbaijan 2000',
 'Azerbaijan 2001',
 'Azerbaijan 2002',
 'Azerbaijan 2003',
 'Azerbaijan 2004',
 'Azerbaijan 2005',
 'Azerbaijan 2006',
 'Azerbaijan 2007',
 'Azerbaijan 2008',
 'Azerbaijan 2009',
 'Azerbaijan 2010',
 'Azerbaijan 2011',
 'Azerbaijan 2012',
 'Azerbaijan 2013',
 'Azerbaijan 2014',
 'Azerbaijan 2015',
 'Azerbaijan 2016',
 'Azerbaijan 2017',
 'Azerbaijan 2018',
 'Azerbaijan 2019',
 'Bahamas 2000',
 'Bahamas 2001',
 'Bahamas 2002',
 'Bahamas 2003',
 'Bahamas 2004',
 'Bahamas 2005',
 'Bahamas 2006',
 'Bahamas 2007',
 'Bahamas 2008',
 'Bahamas 2009',
 'Bahamas 2010',
 'Bahamas 2011',
 'Bahamas 2012',
 'Bahamas 2013',
 'Bahamas 2014',
 'Bahamas 2015',
 'Bahamas 2016',
 'Bahamas 2017',
 'Bahamas 2018',
 'Bahamas 2019',
 'Bahrain 2000',
 'Bahrain 2001',
 'Bahrain 2002',
 'Bahrain 2003',
 'Bahrain 2004',
 'Bahrain 2005',
 'Bahrain 2006',
 'Bahrain 2007',
 'Bahrain 2008',
 'Bahrain 2009',
 'Bahrain 2010',
 'Bahrain 2011',
 'Bahrain 2012',
 'Bahrain 2013',
 'Bahrain 2014',
 'Bahrain 2015',
 'Bahrain 2016',
 'Bahrain 2017',
 'Bahrain 2018',
 'Bahrain 2019',
 'Bangladesh 2000',
 'Bangladesh 2001',
 'Bangladesh 2002',
 'Bangladesh 2003',
 'Bangladesh 2004',
 'Bangladesh 2005',
 'Bangladesh 2006',
 'Bangladesh 2007',
 'Bangladesh 2008',
 'Bangladesh 2009',
 'Bangladesh 2010',
 'Bangladesh 2011',
 'Bangladesh 2012',
 'Bangladesh 2013',
 'Bangladesh 2014',
 'Bangladesh 2015',
 'Bangladesh 2016',
 'Bangladesh 2017',
 'Bangladesh 2018',
 'Bangladesh 2019',
 'Barbados 2000',
 'Barbados 2001',
 'Barbados 2002',
 'Barbados 2003',
 'Barbados 2004',
 'Barbados 2005',
 'Barbados 2006',
 'Barbados 2007',
 'Barbados 2008',
 'Barbados 2009',
 'Barbados 2010',
 'Barbados 2011',
 'Barbados 2012',
 'Barbados 2013',
 'Barbados 2014',
 'Barbados 2015',
 'Barbados 2016',
 'Barbados 2017',
 'Barbados 2018',
 'Barbados 2019',
 'Belarus 2000',
 'Belarus 2001',
 'Belarus 2002',
 'Belarus 2003',
 'Belarus 2004',
 'Belarus 2005',
 'Belarus 2006',
 'Belarus 2007',
 'Belarus 2008',
 'Belarus 2009',
 'Belarus 2010',
 'Belarus 2011',
 'Belarus 2012',
 'Belarus 2013',
 'Belarus 2014',
 'Belarus 2015',
 'Belarus 2016',
 'Belarus 2017',
 'Belarus 2018',
 'Belarus 2019',
 'Belgium 2000',
 'Belgium 2001',
 'Belgium 2002',
 'Belgium 2003',
 'Belgium 2004',
 'Belgium 2005',
 'Belgium 2006',
 'Belgium 2007',
 'Belgium 2008',
 'Belgium 2009',
 'Belgium 2010',
 'Belgium 2011',
 'Belgium 2012',
 'Belgium 2013',
 'Belgium 2014',
 'Belgium 2015',
 'Belgium 2016',
 'Belgium 2017',
 'Belgium 2018',
 'Belgium 2019',
 'Belize 2000',
 'Belize 2001',
 'Belize 2002',
 'Belize 2003',
 'Belize 2004',
 'Belize 2005',
 'Belize 2006',
 'Belize 2007',
 'Belize 2008',
 'Belize 2009',
 'Belize 2010',
 'Belize 2011',
 'Belize 2012',
 'Belize 2013',
 'Belize 2014',
 'Belize 2015',
 'Belize 2016',
 'Belize 2017',
 'Belize 2018',
 'Belize 2019',
 'Benin 2000',
 'Benin 2001',
 'Benin 2002',
 'Benin 2003',
 'Benin 2004',
 'Benin 2005',
 'Benin 2006',
 'Benin 2007',
 'Benin 2008',
 'Benin 2009',
 'Benin 2010',
 'Benin 2011',
 'Benin 2012',
 'Benin 2013',
 'Benin 2014',
 'Benin 2015',
 'Benin 2016',
 'Benin 2017',
 'Benin 2018',
 'Benin 2019',
 'Bhutan 2000',
 'Bhutan 2001',
 'Bhutan 2002',
 'Bhutan 2003',
 'Bhutan 2004',
 'Bhutan 2005',
 'Bhutan 2006',
 'Bhutan 2007',
 'Bhutan 2008',
 'Bhutan 2009',
 'Bhutan 2010',
 'Bhutan 2011',
 'Bhutan 2012',
 'Bhutan 2013',
 'Bhutan 2014',
 'Bhutan 2015',
 'Bhutan 2016',
 'Bhutan 2017',
 'Bhutan 2018',
 'Bhutan 2019',
 'Bolivia 2000',
 'Bolivia 2001',
 'Bolivia 2002',
 'Bolivia 2003',
 'Bolivia 2004',
 'Bolivia 2005',
 'Bolivia 2006',
 'Bolivia 2007',
 'Bolivia 2008',
 'Bolivia 2009',
 'Bolivia 2010',
 'Bolivia 2011',
 'Bolivia 2012',
 'Bolivia 2013',
 'Bolivia 2014',
 'Bolivia 2015',
 'Bolivia 2016',
 'Bolivia 2017',
 'Bolivia 2018',
 'Bolivia 2019',
 'Botswana 2000',
 'Botswana 2001',
 'Botswana 2002',
 'Botswana 2003',
 'Botswana 2004',
 'Botswana 2005',
 'Botswana 2006',
 'Botswana 2007',
 'Botswana 2008',
 'Botswana 2009',
 'Botswana 2010',
 'Botswana 2011',
 'Botswana 2012',
 'Botswana 2013',
 'Botswana 2014',
 'Botswana 2015',
 'Botswana 2016',
 'Botswana 2017',
 'Botswana 2018',
 'Botswana 2019',
 'Brazil 2000',
 'Brazil 2001',
 'Brazil 2002',
 'Brazil 2003',
 'Brazil 2004',
 'Brazil 2005',
 'Brazil 2006',
 'Brazil 2007',
 'Brazil 2008',
 'Brazil 2009',
 'Brazil 2010',
 'Brazil 2011',
 'Brazil 2012',
 'Brazil 2013',
 'Brazil 2014',
 'Brazil 2015',
 'Brazil 2016',
 'Brazil 2017',
 'Brazil 2018',
 'Brazil 2019',
 'Brunei Darussalam 2000',
 'Brunei Darussalam 2001',
 'Brunei Darussalam 2002',
 'Brunei Darussalam 2003',
 'Brunei Darussalam 2004',
 'Brunei Darussalam 2005',
 'Brunei Darussalam 2006',
 'Brunei Darussalam 2007',
 'Brunei Darussalam 2008',
 'Brunei Darussalam 2009',
 'Brunei Darussalam 2010',
 'Brunei Darussalam 2011',
 'Brunei Darussalam 2012',
 'Brunei Darussalam 2013',
 'Brunei Darussalam 2014',
 'Brunei Darussalam 2015',
 'Brunei Darussalam 2016',
 'Brunei Darussalam 2017',
 'Brunei Darussalam 2018',
 'Brunei Darussalam 2019',
 'Bulgaria 2000',
 'Bulgaria 2001',
 'Bulgaria 2002',
 'Bulgaria 2003',
 'Bulgaria 2004',
 'Bulgaria 2005',
 'Bulgaria 2006',
 'Bulgaria 2007',
 'Bulgaria 2008',
 'Bulgaria 2009',
 'Bulgaria 2010',
 'Bulgaria 2011',
 'Bulgaria 2012',
 'Bulgaria 2013',
 'Bulgaria 2014',
 'Bulgaria 2015',
 'Bulgaria 2016',
 'Bulgaria 2017',
 'Bulgaria 2018',
 'Bulgaria 2019',
 'Burkina Faso 2000',
 'Burkina Faso 2001',
 'Burkina Faso 2002',
 'Burkina Faso 2003',
 'Burkina Faso 2004',
 'Burkina Faso 2005',
 'Burkina Faso 2006',
 'Burkina Faso 2007',
 'Burkina Faso 2008',
 'Burkina Faso 2009',
 'Burkina Faso 2010',
 'Burkina Faso 2011',
 'Burkina Faso 2012',
 'Burkina Faso 2013',
 'Burkina Faso 2014',
 'Burkina Faso 2015',
 'Burkina Faso 2016',
 'Burkina Faso 2017',
 'Burkina Faso 2018',
 'Burkina Faso 2019',
 'Burundi 2000',
 'Burundi 2001',
 'Burundi 2002',
 'Burundi 2003',
 'Burundi 2004',
 'Burundi 2005',
 'Burundi 2006',
 'Burundi 2007',
 'Burundi 2008',
 'Burundi 2009',
 'Burundi 2010',
 'Burundi 2011',
 'Burundi 2012',
 'Burundi 2013',
 'Burundi 2014',
 'Burundi 2015',
 'Burundi 2016',
 'Burundi 2017',
 'Burundi 2018',
 'Burundi 2019',
 'Cabo Verde 2000',
 'Cabo Verde 2001',
 'Cabo Verde 2002',
 'Cabo Verde 2003',
 'Cabo Verde 2004',
 'Cabo Verde 2005',
 'Cabo Verde 2006',
 'Cabo Verde 2007',
 'Cabo Verde 2008',
 'Cabo Verde 2009',
 'Cabo Verde 2010',
 'Cabo Verde 2011',
 'Cabo Verde 2012',
 'Cabo Verde 2013',
 'Cabo Verde 2014',
 'Cabo Verde 2015',
 'Cabo Verde 2016',
 'Cabo Verde 2017',
 'Cabo Verde 2018',
 'Cabo Verde 2019',
 'Cambodia 2000',
 'Cambodia 2001',
 'Cambodia 2002',
 'Cambodia 2003',
 'Cambodia 2004',
 'Cambodia 2005',
 'Cambodia 2006',
 'Cambodia 2007',
 'Cambodia 2008',
 'Cambodia 2009',
 'Cambodia 2010',
 'Cambodia 2011',
 'Cambodia 2012',
 'Cambodia 2013',
 'Cambodia 2014',
 'Cambodia 2015',
 'Cambodia 2016',
 'Cambodia 2017',
 'Cambodia 2018',
 'Cambodia 2019',
 'Cameroon 2000',
 'Cameroon 2001',
 'Cameroon 2002',
 'Cameroon 2003',
 'Cameroon 2004',
 'Cameroon 2005',
 'Cameroon 2006',
 'Cameroon 2007',
 'Cameroon 2008',
 'Cameroon 2009',
 'Cameroon 2010',
 'Cameroon 2011',
 'Cameroon 2012',
 'Cameroon 2013',
 'Cameroon 2014',
 'Cameroon 2015',
 'Cameroon 2016',
 'Cameroon 2017',
 'Cameroon 2018',
 'Cameroon 2019',
 'Canada 2000',
 'Canada 2001',
 'Canada 2002',
 'Canada 2003',
 'Canada 2004',
 'Canada 2005',
 'Canada 2006',
 'Canada 2007',
 'Canada 2008',
 'Canada 2009',
 'Canada 2010',
 'Canada 2011',
 'Canada 2012',
 'Canada 2013',
 'Canada 2014',
 'Canada 2015',
 'Canada 2016',
 'Canada 2017',
 'Canada 2018',
 'Canada 2019',
 'Central African Republic 2000',
 'Central African Republic 2001',
 'Central African Republic 2002',
 'Central African Republic 2003',
 'Central African Republic 2004',
 'Central African Republic 2005',
 'Central African Republic 2006',
 'Central African Republic 2007',
 'Central African Republic 2008',
 'Central African Republic 2009',
 'Central African Republic 2010',
 'Central African Republic 2011',
 'Central African Republic 2012',
 'Central African Republic 2013',
 'Central African Republic 2014',
 'Central African Republic 2015',
 'Central African Republic 2016',
 'Central African Republic 2017',
 'Central African Republic 2018',
 'Central African Republic 2019',
 'Chad 2000',
 'Chad 2001',
 'Chad 2002',
 'Chad 2003',
 'Chad 2004',
 'Chad 2005',
 'Chad 2006',
 'Chad 2007',
 'Chad 2008',
 'Chad 2009',
 'Chad 2010',
 'Chad 2011',
 'Chad 2012',
 'Chad 2013',
 'Chad 2014',
 'Chad 2015',
 'Chad 2016',
 'Chad 2017',
 'Chad 2018',
 'Chad 2019',
 'Chile 2000',
 'Chile 2001',
 'Chile 2002',
 'Chile 2003',
 'Chile 2004',
 'Chile 2005',
 'Chile 2006',
 'Chile 2007',
 'Chile 2008',
 'Chile 2009',
 'Chile 2010',
 'Chile 2011',
 'Chile 2012',
 'Chile 2013',
 'Chile 2014',
 'Chile 2015',
 'Chile 2016',
 'Chile 2017',
 'Chile 2018',
 'Chile 2019',
 'China 2000',
 'China 2001',
 'China 2002',
 'China 2003',
 'China 2004',
 'China 2005',
 'China 2006',
 'China 2007',
 'China 2008',
 'China 2009',
 'China 2010',
 'China 2011',
 'China 2012',
 'China 2013',
 'China 2014',
 'China 2015',
 'China 2016',
 'China 2017',
 'China 2018',
 'China 2019',
 'Colombia 2000',
 'Colombia 2001',
 'Colombia 2002',
 'Colombia 2003',
 'Colombia 2004',
 'Colombia 2005',
 'Colombia 2006',
 'Colombia 2007',
 'Colombia 2008',
 'Colombia 2009',
 'Colombia 2010',
 'Colombia 2011',
 'Colombia 2012',
 'Colombia 2013',
 'Colombia 2014',
 'Colombia 2015',
 'Colombia 2016',
 'Colombia 2017',
 'Colombia 2018',
 'Colombia 2019',
 'Congo 2000',
 'Congo 2001',
 'Congo 2002',
 'Congo 2003',
 'Congo 2004',
 'Congo 2005',
 'Congo 2006',
 'Congo 2007',
 'Congo 2008',
 'Congo 2009',
 'Congo 2010',
 'Congo 2011',
 'Congo 2012',
 'Congo 2013',
 'Congo 2014',
 'Congo 2015',
 'Congo 2016',
 'Congo 2017',
 'Congo 2018',
 'Congo 2019',
 'Costa Rica 2000',
 'Costa Rica 2001',
 'Costa Rica 2002',
 'Costa Rica 2003',
 'Costa Rica 2004',
 'Costa Rica 2005',
 'Costa Rica 2006',
 'Costa Rica 2007',
 'Costa Rica 2008',
 'Costa Rica 2009',
 'Costa Rica 2010',
 'Costa Rica 2011',
 'Costa Rica 2012',
 'Costa Rica 2013',
 'Costa Rica 2014',
 'Costa Rica 2015',
 'Costa Rica 2016',
 'Costa Rica 2017',
 'Costa Rica 2018',
 'Costa Rica 2019',
 "Cote d'Ivoire 2000",
 "Cote d'Ivoire 2001",
 "Cote d'Ivoire 2002",
 "Cote d'Ivoire 2003",
 "Cote d'Ivoire 2004",
 "Cote d'Ivoire 2005",
 "Cote d'Ivoire 2006",
 "Cote d'Ivoire 2007",
 "Cote d'Ivoire 2008",
 "Cote d'Ivoire 2009",
 "Cote d'Ivoire 2010",
 "Cote d'Ivoire 2011",
 "Cote d'Ivoire 2012",
 "Cote d'Ivoire 2013",
 "Cote d'Ivoire 2014",
 "Cote d'Ivoire 2015",
 "Cote d'Ivoire 2016",
 "Cote d'Ivoire 2017",
 "Cote d'Ivoire 2018",
 "Cote d'Ivoire 2019",
 'Croatia 2000',
 'Croatia 2001',
 'Croatia 2002',
 'Croatia 2003',
 'Croatia 2004',
 'Croatia 2005',
 'Croatia 2006',
 'Croatia 2007',
 'Croatia 2008',
 'Croatia 2009',
 'Croatia 2010',
 'Croatia 2011',
 'Croatia 2012',
 'Croatia 2013',
 'Croatia 2014',
 'Croatia 2015',
 'Croatia 2016',
 'Croatia 2017',
 'Croatia 2018',
 'Croatia 2019',
 'Cuba 2000',
 'Cuba 2001',
 'Cuba 2002',
 'Cuba 2003',
 'Cuba 2004',
 'Cuba 2005',
 'Cuba 2006',
 'Cuba 2007',
 'Cuba 2008',
 'Cuba 2009',
 'Cuba 2010',
 'Cuba 2011',
 'Cuba 2012',
 'Cuba 2013',
 'Cuba 2014',
 'Cuba 2015',
 'Cuba 2016',
 'Cuba 2017',
 'Cuba 2018',
 'Cuba 2019',
 'Cyprus 2000',
 'Cyprus 2001',
 'Cyprus 2002',
 'Cyprus 2003',
 'Cyprus 2004',
 'Cyprus 2005',
 'Cyprus 2006',
 'Cyprus 2007',
 'Cyprus 2008',
 'Cyprus 2009',
 'Cyprus 2010',
 'Cyprus 2011',
 'Cyprus 2012',
 'Cyprus 2013',
 'Cyprus 2014',
 'Cyprus 2015',
 'Cyprus 2016',
 'Cyprus 2017',
 'Cyprus 2018',
 'Cyprus 2019',
 'Czechia 2000',
 'Czechia 2001',
 'Czechia 2002',
 'Czechia 2003',
 'Czechia 2004',
 'Czechia 2005',
 'Czechia 2006',
 'Czechia 2007',
 'Czechia 2008',
 'Czechia 2009',
 'Czechia 2010',
 'Czechia 2011',
 'Czechia 2012',
 'Czechia 2013',
 'Czechia 2014',
 'Czechia 2015',
 'Czechia 2016',
 'Czechia 2017',
 'Czechia 2018',
 'Czechia 2019',
 'Democratic Republic of the Congo 2000',
 'Democratic Republic of the Congo 2001',
 'Democratic Republic of the Congo 2002',
 'Democratic Republic of the Congo 2003',
 'Democratic Republic of the Congo 2004',
 'Democratic Republic of the Congo 2005',
 'Democratic Republic of the Congo 2006',
 'Democratic Republic of the Congo 2007',
 'Democratic Republic of the Congo 2008',
 'Democratic Republic of the Congo 2009',
 'Democratic Republic of the Congo 2010',
 'Democratic Republic of the Congo 2011',
 'Democratic Republic of the Congo 2012',
 'Democratic Republic of the Congo 2013',
 'Democratic Republic of the Congo 2014',
 'Democratic Republic of the Congo 2015',
 'Democratic Republic of the Congo 2016',
 'Democratic Republic of the Congo 2017',
 'Democratic Republic of the Congo 2018',
 'Democratic Republic of the Congo 2019',
 'Denmark 2000',
 'Denmark 2001',
 'Denmark 2002',
 'Denmark 2003',
 'Denmark 2004',
 'Denmark 2005',
 'Denmark 2006',
 'Denmark 2007',
 'Denmark 2008',
 'Denmark 2009',
 'Denmark 2010',
 'Denmark 2011',
 'Denmark 2012',
 'Denmark 2013',
 'Denmark 2014',
 'Denmark 2015',
 'Denmark 2016',
 'Denmark 2017',
 'Denmark 2018',
 'Denmark 2019',
 'Djibouti 2000',
 'Djibouti 2001',
 'Djibouti 2002',
 'Djibouti 2003',
 'Djibouti 2004',
 'Djibouti 2005',
 'Djibouti 2006',
 'Djibouti 2007',
 'Djibouti 2008',
 'Djibouti 2009',
 'Djibouti 2010',
 'Djibouti 2011',
 'Djibouti 2012',
 'Djibouti 2013',
 'Djibouti 2014',
 'Djibouti 2015',
 'Djibouti 2016',
 'Djibouti 2017',
 'Djibouti 2018',
 'Djibouti 2019',
 'Dominican Republic 2000',
 'Dominican Republic 2001',
 'Dominican Republic 2002',
 'Dominican Republic 2003',
 'Dominican Republic 2004',
 'Dominican Republic 2005',
 'Dominican Republic 2006',
 'Dominican Republic 2007',
 'Dominican Republic 2008',
 'Dominican Republic 2009',
 'Dominican Republic 2010',
 'Dominican Republic 2011',
 'Dominican Republic 2012',
 'Dominican Republic 2013',
 'Dominican Republic 2014',
 'Dominican Republic 2015',
 'Dominican Republic 2016',
 'Dominican Republic 2017',
 'Dominican Republic 2018',
 'Dominican Republic 2019',
 'Ecuador 2000',
 'Ecuador 2001',
 'Ecuador 2002',
 'Ecuador 2003',
 'Ecuador 2004',
 'Ecuador 2005',
 'Ecuador 2006',
 'Ecuador 2007',
 'Ecuador 2008',
 'Ecuador 2009',
 'Ecuador 2010',
 'Ecuador 2011',
 'Ecuador 2012',
 'Ecuador 2013',
 'Ecuador 2014',
 'Ecuador 2015',
 'Ecuador 2016',
 'Ecuador 2017',
 'Ecuador 2018',
 'Ecuador 2019',
 'Egypt 2000',
 'Egypt 2001',
 'Egypt 2002',
 'Egypt 2003',
 'Egypt 2004',
 'Egypt 2005',
 'Egypt 2006',
 'Egypt 2007',
 'Egypt 2008',
 'Egypt 2009',
 'Egypt 2010',
 'Egypt 2011',
 'Egypt 2012',
 'Egypt 2013',
 'Egypt 2014',
 'Egypt 2015',
 'Egypt 2016',
 'Egypt 2017',
 'Egypt 2018',
 'Egypt 2019',
 'El Salvador 2000',
 'El Salvador 2001',
 'El Salvador 2002',
 'El Salvador 2003',
 'El Salvador 2004',
 'El Salvador 2005',
 'El Salvador 2006',
 'El Salvador 2007',
 'El Salvador 2008',
 'El Salvador 2009',
 'El Salvador 2010',
 'El Salvador 2011',
 'El Salvador 2012',
 'El Salvador 2013',
 'El Salvador 2014',
 'El Salvador 2015',
 'El Salvador 2016',
 'El Salvador 2017',
 'El Salvador 2018',
 'El Salvador 2019',
 'Equatorial Guinea 2000',
 'Equatorial Guinea 2001',
 'Equatorial Guinea 2002',
 'Equatorial Guinea 2003',
 'Equatorial Guinea 2004',
 'Equatorial Guinea 2005',
 'Equatorial Guinea 2006',
 'Equatorial Guinea 2007',
 'Equatorial Guinea 2008',
 'Equatorial Guinea 2009',
 'Equatorial Guinea 2010',
 'Equatorial Guinea 2011',
 'Equatorial Guinea 2012',
 'Equatorial Guinea 2013',
 'Equatorial Guinea 2014',
 'Equatorial Guinea 2015',
 'Equatorial Guinea 2016',
 'Equatorial Guinea 2017',
 'Equatorial Guinea 2018',
 'Equatorial Guinea 2019',
 ...]

In [10]:
print(len(country_year_list))

3380

In [11]:
le_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/le_clean-transform.csv")
le_df.pop("Year")
le_df

,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,...,United Kingdom,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,73.96,70.64,46.52,73.94,73.58,71.41,73.79,79.23,78.13,66.76,...,77.74,76.64,74.73,67.16,67.36,72.11,73.03,60.68,44.00,44.65
1,74.29,71.12,47.06,74.17,73.76,71.80,73.85,79.63,78.58,67.05,...,77.99,76.84,74.94,67.37,67.58,72.29,73.23,61.22,44.62,44.01
2,74.58,71.61,47.70,74.40,73.93,72.11,73.94,79.94,78.68,67.39,...,78.14,76.94,75.15,67.61,67.79,72.47,73.44,61.78,45.40,43.52
3,74.83,72.10,48.44,74.61,74.11,72.35,74.04,80.24,78.63,67.79,...,78.45,77.04,75.37,67.87,67.99,72.62,73.65,62.36,46.32,43.20
4,75.04,72.59,49.26,74.82,74.28,72.51,74.16,80.49,79.18,68.25,...,78.75,77.49,75.60,68.14,68.18,72.75,73.88,62.93,47.35,43.07
5,75.23,73.07,50.17,75.02,74.45,72.63,74.29,80.84,79.33,68.75,...,79.05,77.49,75.83,68.41,68.35,72.85,74.09,63.48,48.50,43.24
6,75.42,73.52,51.14,75.20,74.62,72.72,74.43,81.04,79.88,69.26,...,79.25,77.69,76.05,68.68,68.52,72.94,74.30,64.00,49.76,43.85
7,75.65,73.94,52.18,75.38,74.79,72.82,74.58,81.29,80.18,69.75,...,79.45,77.99,76.25,68.94,68.67,73.01,74.47,64.47,51.13,44.95
8,75.91,74.31,53.24,75.54,74.95,72.95,74.73,81.40,80.43,70.20,...,79.60,78.04,76.44,69.19,68.82,73.07,74.63,64.89,52.61,46.50
9,76.22,74.64,54.31,75.68,75.12,73.12,74.87,81.54,80.33,70.60,...,80.05,78.39,76.60,69.44,68.97,73.12,74.75,65.26,54.13,48.45
10,76.56,74.94,55.35,75.82,75.28,73.33,75.02,81.70,80.58,70.94,...,80.40,78.54,76.75,69.67,69.12,73.13,74.84,65.55,55.66,50.64
11,76.91,75.20,56.33,75.96,75.44,73.57,75.16,81.90,80.98,71.23,...,80.95,78.64,76.88,69.91,69.27,73.11,74.90,65.77,57.13,52.90
12,77.25,75.44,57.24,76.09,75.60,73.82,75.30,82.05,80.94,71.51,...,80.90,78.74,77.00,70.16,69.42,73.04,74.96,65.92,58.50,55.03
13,77.55,75.66,58.05,76.22,75.76,74.06,75.44,82.15,81.14,71.77,...,81.00,78.74,77.12,70.41,69.57,72.92,75.01,66.02,59.75,56.90
14,77.81,75.88,58.78,76.35,75.91,74.27,75.58,82.30,81.49,72.02,...,81.30,78.84,77.24,70.67,69.72,72.76,75.06,66.07,60.83,58.41
15,78.03,76.09,59.40,76.48,76.07,74.47,75.73,82.40,81.19,72.27,...,80.96,78.69,77.37,70.93,69.87,72.58,75.11,66.09,61.74,59.53
16,78.19,76.30,59.93,76.62,76.22,74.64,75.87,82.45,81.64,72.49,...,81.16,78.54,77.50,71.17,70.02,72.41,75.17,66.09,62.46,60.29
17,78.33,76.50,60.38,76.75,76.37,74.80,76.01,82.50,81.64,72.69,...,81.26,78.54,77.63,71.39,70.17,72.25,75.24,66.09,63.04,60.81
18,78.46,76.69,60.78,76.89,76.52,74.95,76.15,82.75,81.69,72.86,...,81.26,78.64,77.77,71.57,70.32,72.13,75.32,66.10,63.51,61.20
19,78.57,76.88,61.15,77.02,76.67,75.09,76.29,82.90,81.90,73.01,...,81.20,78.79,77.91,71.73,70.47,72.06,75.40,66.13,63.89,61.49

In [12]:
le_df2 = le_df.T
le_df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Albania,73.96,74.29,74.58,74.83,75.04,75.23,75.42,75.65,75.91,76.22,76.56,76.91,77.25,77.55,77.81,78.03,78.19,78.33,78.46,78.57
Algeria,70.64,71.12,71.61,72.10,72.59,73.07,73.52,73.94,74.31,74.64,74.94,75.20,75.44,75.66,75.88,76.09,76.30,76.50,76.69,76.88
Angola,46.52,47.06,47.70,48.44,49.26,50.17,51.14,52.18,53.24,54.31,55.35,56.33,57.24,58.05,58.78,59.40,59.93,60.38,60.78,61.15
Antigua and Barbuda,73.94,74.17,74.40,74.61,74.82,75.02,75.20,75.38,75.54,75.68,75.82,75.96,76.09,76.22,76.35,76.48,76.62,76.75,76.89,77.02
Argentina,73.58,73.76,73.93,74.11,74.28,74.45,74.62,74.79,74.95,75.12,75.28,75.44,75.60,75.76,75.91,76.07,76.22,76.37,76.52,76.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,72.11,72.29,72.47,72.62,72.75,72.85,72.94,73.01,73.07,73.12,73.13,73.11,73.04,72.92,72.76,72.58,72.41,72.25,72.13,72.06
Vietnam,73.03,73.23,73.44,73.65,73.88,74.09,74.30,74.47,74.63,74.75,74.84,74.90,74.96,75.01,75.06,75.11,75.17,75.24,75.32,75.40
Yemen,60.68,61.22,61.78,62.36,62.93,63.48,64.00,64.47,64.89,65.26,65.55,65.77,65.92,66.02,66.07,66.09,66.09,66.09,66.10,66.13
Zambia,44.00,44.62,45.40,46.32,47.35,48.50,49.76,51.13,52.61,54.13,55.66,57.13,58.50,59.75,60.83,61.74,62.46,63.04,63.51,63.89
Zimbabwe,44.65,44.01,43.52,43.20,43.07,43.24,43.85,44.95,46.50,48.45,50.64,52.90,55.03,56.90,58.41,59.53,60.29,60.81,61.20,61.49

In [13]:
for country in country_list:
    if (country not in le_df.columns):
        print (country)

Cote d'Ivoire
Turkiye

In [14]:
ml_df = pd.DataFrame(index = country_year_list)
ml_df

Empty DataFrame
Columns: []
Index: [Albania 2000, Albania 2001, Albania 2002, Albania 2003, Albania 2004, Albania 2005, Albania 2006, Albania 2007, Albania 2008, Albania 2009, Albania 2010, Albania 2011, Albania 2012, Albania 2013, Albania 2014, Albania 2015, Albania 2016, Albania 2017, Albania 2018, Albania 2019, Algeria 2000, Algeria 2001, Algeria 2002, Algeria 2003, Algeria 2004, Algeria 2005, Algeria 2006, Algeria 2007, Algeria 2008, Algeria 2009, Algeria 2010, Algeria 2011, Algeria 2012, Algeria 2013, Algeria 2014, Algeria 2015, Algeria 2016, Algeria 2017, Algeria 2018, Algeria 2019, Angola 2000, Angola 2001, Angola 2002, Angola 2003, Angola 2004, Angola 2005, Angola 2006, Angola 2007, Angola 2008, Angola 2009, Angola 2010, Angola 2011, Angola 2012, Angola 2013, Angola 2014, Angola 2015, Angola 2016, Angola 2017, Angola 2018, Angola 2019, Antigua and Barbuda 2000, Antigua and Barbuda 2001, Antigua and Barbuda 2002, Antigua and Barbuda 2003, Antigua and Barbuda 2004, Antigua and Barbuda 2005, Antigua and Barbuda 2006, Antigua and Barbuda 2007, Antigua and Barbuda 2008, Antigua and Barbuda 2009, Antigua and Barbuda 2010, Antigua and Barbuda 2011, Antigua and Barbuda 2012, Antigua and Barbuda 2013, Antigua and Barbuda 2014, Antigua and Barbuda 2015, Antigua and Barbuda 2016, Antigua and Barbuda 2017, Antigua and Barbuda 2018, Antigua and Barbuda 2019, Argentina 2000, Argentina 2001, Argentina 2002, Argentina 2003, Argentina 2004, Argentina 2005, Argentina 2006, Argentina 2007, Argentina 2008, Argentina 2009, Argentina 2010, Argentina 2011, Argentina 2012, Argentina 2013, Argentina 2014, Argentina 2015, Argentina 2016, Argentina 2017, Argentina 2018, Argentina 2019, ...]

[3380 rows x 0 columns]

In [15]:
le = le_df2.values.ravel()
le

array([73.96, 74.29, 74.58, ..., 60.81, 61.2 , 61.49])

In [16]:
ml_df['Life Expectancy'] = le.tolist()
ml_df

               Life Expectancy
Albania 2000             73.96
Albania 2001             74.29
Albania 2002             74.58
Albania 2003             74.83
Albania 2004             75.04
...                        ...
Zimbabwe 2015            59.53
Zimbabwe 2016            60.29
Zimbabwe 2017            60.81
Zimbabwe 2018            61.20
Zimbabwe 2019            61.49

[3380 rows x 1 columns]

In [17]:
#a_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/alcohol.csv")
a_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/alcohol_transformed.csv")
a_df

,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,...,"Venezuela, RB",Vietnam,"Yemen, Rep.",Zambia,Zimbabwe,Sudan,"Bahamas, The","Congo, Rep.","Congo, Dem. Rep.",Slovak Republic
0,6.570,0.580,2.760,5.130,8.750,4.230,6.293673,11.720,13.120,3.450,...,9.150,2.210,0.790,4.050,2.460,0.52,5.580,3.450,0.950,12.470
1,6.786,0.626,3.186,5.178,8.732,4.542,6.305131,11.792,13.054,3.122,...,9.204,2.294,0.700,4.020,2.522,0.52,5.320,3.510,0.932,12.388
2,7.002,0.672,3.612,5.226,8.714,4.854,6.316589,11.864,12.988,2.794,...,9.258,2.378,0.610,3.990,2.584,0.52,5.060,3.570,0.914,12.306
3,7.218,0.718,4.038,5.274,8.696,5.166,6.328048,11.936,12.922,2.466,...,9.312,2.462,0.520,3.960,2.646,0.52,4.800,3.630,0.896,12.224
4,7.434,0.764,4.464,5.322,8.678,5.478,6.339506,12.008,12.856,2.138,...,9.366,2.546,0.430,3.930,2.708,0.52,4.540,3.690,0.878,12.142
5,7.650,0.810,4.890,5.370,8.660,5.790,6.350964,12.080,12.790,1.810,...,9.420,2.630,0.340,3.900,2.770,0.52,4.280,3.750,0.860,12.060
6,7.658,0.778,5.544,5.416,8.746,5.770,6.333945,12.142,12.672,2.042,...,9.270,3.084,0.308,4.206,3.002,0.52,4.248,4.234,1.038,12.048
7,7.666,0.746,6.198,5.462,8.832,5.750,6.316926,12.204,12.554,2.274,...,9.120,3.538,0.276,4.512,3.234,0.52,4.216,4.718,1.216,12.036
8,7.674,0.714,6.852,5.508,8.918,5.730,6.299907,12.266,12.436,2.506,...,8.970,3.992,0.244,4.818,3.466,0.52,4.184,5.202,1.394,12.024
9,7.682,0.682,7.506,5.554,9.004,5.710,6.282888,12.328,12.318,2.738,...,8.820,4.446,0.212,5.124,3.698,0.52,4.152,5.686,1.572,12.012
10,7.690,0.650,8.160,5.600,9.090,5.690,6.265869,12.390,12.200,2.970,...,8.670,4.900,0.180,5.430,3.930,0.52,4.120,6.170,1.750,12.000
11,7.500,0.706,8.120,5.658,9.182,5.720,6.247946,12.078,12.174,3.292,...,8.300,5.492,0.155,5.722,4.128,0.52,4.206,6.516,1.810,11.906
12,7.310,0.762,8.080,5.716,9.274,5.750,6.230024,11.766,12.148,3.614,...,7.930,6.084,0.130,6.014,4.326,0.52,4.292,6.862,1.870,11.812
13,7.120,0.818,8.040,5.774,9.366,5.780,6.212101,11.454,12.122,3.936,...,7.560,6.676,0.105,6.306,4.524,0.52,4.378,7.208,1.930,11.718
14,6.930,0.874,8.000,5.832,9.458,5.810,6.194179,11.142,12.096,4.258,...,7.190,7.268,0.080,6.598,4.722,0.52,4.464,7.554,1.990,11.624
15,6.740,0.930,7.960,5.890,9.550,5.840,6.176256,10.830,12.070,4.580,...,6.820,7.860,0.055,6.890,4.920,0.52,4.550,7.900,2.050,11.530
16,6.740,0.930,7.960,5.890,9.550,5.840,6.176256,10.830,12.070,4.580,...,6.820,7.860,0.055,6.890,4.920,0.52,4.550,7.900,2.050,11.530
17,7.170,0.950,6.940,6.380,9.650,5.550,6.088857,10.510,11.960,4.410,...,4.140,8.660,0.051,6.540,4.670,0.51,4.780,9.270,2.000,11.140
18,7.170,0.950,6.940,6.380,9.650,5.550,6.088857,10.510,11.960,4.410,...,4.140,8.660,0.051,6.540,4.670,0.51,4.780,9.270,2.000,11.140
19,7.170,0.950,6.940,6.380,9.650,5.550,6.088857,10.510,11.960,4.410,...,4.140,8.660,0.051,6.540,4.670,0.51,4.780,9.270,2.000,11.140

In [18]:
a_df.rename(columns ={'Bahamas, The' : 'Bahamas', 'Gambia, The': 'Gambia', 'United States': 'United States of America'}, inplace = True)
a_df.rename(columns ={'St. Lucia' : 'Saint Lucia', 'Slovak Republic': 'Slovakia', 'Congo, Rep.': 'Congo'}, inplace = True)
a_df.rename(columns ={'St. Vincent and the Grenadines' : 'Saint Vincent and the Grenadines', 'Venezuela, RB': 'Venezuela', 'Egypt, Arab Rep.': 'Egypt'}, inplace = True)
a_df.rename(columns ={'Yemen, Rep.' : 'Yemen', 'Korea, Rep.': 'South Korea', 'Micronesia, Fed. Sts.': 'Micronesia'}, inplace = True)
a_df.rename(columns ={'Iran, Islamic Rep.' : 'Iran', 'Congo, Dem. Rep.': 'Democratic Republic of the Congo', 'Lao PDR': "Lao People's Democratic Republic"}, inplace = True)

In [19]:
a_df = a_df.reindex(sorted(a_df.columns), axis=1)
a_df

,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,...,United Kingdom,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,6.570,0.580,2.760,5.130,8.750,4.230,6.293673,11.720,13.120,3.450,...,13.730,9.190,8.090,5.680,1.170,9.150,2.210,0.790,4.050,2.460
1,6.786,0.626,3.186,5.178,8.732,4.542,6.305131,11.792,13.054,3.122,...,13.762,9.250,7.964,5.374,1.176,9.204,2.294,0.700,4.020,2.522
2,7.002,0.672,3.612,5.226,8.714,4.854,6.316589,11.864,12.988,2.794,...,13.794,9.310,7.838,5.068,1.182,9.258,2.378,0.610,3.990,2.584
3,7.218,0.718,4.038,5.274,8.696,5.166,6.328048,11.936,12.922,2.466,...,13.826,9.370,7.712,4.762,1.188,9.312,2.462,0.520,3.960,2.646
4,7.434,0.764,4.464,5.322,8.678,5.478,6.339506,12.008,12.856,2.138,...,13.858,9.430,7.586,4.456,1.194,9.366,2.546,0.430,3.930,2.708
5,7.650,0.810,4.890,5.370,8.660,5.790,6.350964,12.080,12.790,1.810,...,13.890,9.490,7.460,4.150,1.200,9.420,2.630,0.340,3.900,2.770
6,7.658,0.778,5.544,5.416,8.746,5.770,6.333945,12.142,12.672,2.042,...,13.524,9.464,7.388,3.922,1.300,9.270,3.084,0.308,4.206,3.002
7,7.666,0.746,6.198,5.462,8.832,5.750,6.316926,12.204,12.554,2.274,...,13.158,9.438,7.316,3.694,1.400,9.120,3.538,0.276,4.512,3.234
8,7.674,0.714,6.852,5.508,8.918,5.730,6.299907,12.266,12.436,2.506,...,12.792,9.412,7.244,3.466,1.500,8.970,3.992,0.244,4.818,3.466
9,7.682,0.682,7.506,5.554,9.004,5.710,6.282888,12.328,12.318,2.738,...,12.426,9.386,7.172,3.238,1.600,8.820,4.446,0.212,5.124,3.698
10,7.690,0.650,8.160,5.600,9.090,5.690,6.265869,12.390,12.200,2.970,...,12.060,9.360,7.100,3.010,1.700,8.670,4.900,0.180,5.430,3.930
11,7.500,0.706,8.120,5.658,9.182,5.720,6.247946,12.078,12.174,3.292,...,11.890,9.452,7.078,2.926,1.788,8.300,5.492,0.155,5.722,4.128
12,7.310,0.762,8.080,5.716,9.274,5.750,6.230024,11.766,12.148,3.614,...,11.720,9.544,7.056,2.842,1.876,7.930,6.084,0.130,6.014,4.326
13,7.120,0.818,8.040,5.774,9.366,5.780,6.212101,11.454,12.122,3.936,...,11.550,9.636,7.034,2.758,1.964,7.560,6.676,0.105,6.306,4.524
14,6.930,0.874,8.000,5.832,9.458,5.810,6.194179,11.142,12.096,4.258,...,11.380,9.728,7.012,2.674,2.052,7.190,7.268,0.080,6.598,4.722
15,6.740,0.930,7.960,5.890,9.550,5.840,6.176256,10.830,12.070,4.580,...,11.210,9.820,6.990,2.590,2.140,6.820,7.860,0.055,6.890,4.920
16,6.740,0.930,7.960,5.890,9.550,5.840,6.176256,10.830,12.070,4.580,...,11.210,9.820,6.990,2.590,2.140,6.820,7.860,0.055,6.890,4.920
17,7.170,0.950,6.940,6.380,9.650,5.550,6.088857,10.510,11.960,4.410,...,11.450,9.870,6.920,2.590,2.250,4.140,8.660,0.051,6.540,4.670
18,7.170,0.950,6.940,6.380,9.650,5.550,6.088857,10.510,11.960,4.410,...,11.450,9.870,6.920,2.590,2.250,4.140,8.660,0.051,6.540,4.670
19,7.170,0.950,6.940,6.380,9.650,5.550,6.088857,10.510,11.960,4.410,...,11.450,9.870,6.920,2.590,2.250,4.140,8.660,0.051,6.540,4.670

In [20]:
a_df2 = a_df.T
a_df2 
#a_df2.to_csv("../Clean_Data/Supervised_Machine_Learning_Data/alcohol_transformed.csv")

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Albania,6.57,6.786,7.002,7.218,7.434,7.65,7.658,7.666,7.674,7.682,7.69,7.500,7.310,7.120,6.930,6.740,6.740,7.170,7.170,7.170
Algeria,0.58,0.626,0.672,0.718,0.764,0.81,0.778,0.746,0.714,0.682,0.65,0.706,0.762,0.818,0.874,0.930,0.930,0.950,0.950,0.950
Angola,2.76,3.186,3.612,4.038,4.464,4.89,5.544,6.198,6.852,7.506,8.16,8.120,8.080,8.040,8.000,7.960,7.960,6.940,6.940,6.940
Antigua and Barbuda,5.13,5.178,5.226,5.274,5.322,5.37,5.416,5.462,5.508,5.554,5.60,5.658,5.716,5.774,5.832,5.890,5.890,6.380,6.380,6.380
Argentina,8.75,8.732,8.714,8.696,8.678,8.66,8.746,8.832,8.918,9.004,9.09,9.182,9.274,9.366,9.458,9.550,9.550,9.650,9.650,9.650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,9.15,9.204,9.258,9.312,9.366,9.42,9.270,9.120,8.970,8.820,8.67,8.300,7.930,7.560,7.190,6.820,6.820,4.140,4.140,4.140
Vietnam,2.21,2.294,2.378,2.462,2.546,2.63,3.084,3.538,3.992,4.446,4.90,5.492,6.084,6.676,7.268,7.860,7.860,8.660,8.660,8.660
Yemen,0.79,0.700,0.610,0.520,0.430,0.34,0.308,0.276,0.244,0.212,0.18,0.155,0.130,0.105,0.080,0.055,0.055,0.051,0.051,0.051
Zambia,4.05,4.020,3.990,3.960,3.930,3.90,4.206,4.512,4.818,5.124,5.43,5.722,6.014,6.306,6.598,6.890,6.890,6.540,6.540,6.540
Zimbabwe,2.46,2.522,2.584,2.646,2.708,2.77,3.002,3.234,3.466,3.698,3.93,4.128,4.326,4.524,4.722,4.920,4.920,4.670,4.670,4.670

In [21]:
for country in country_list:
    if (country not in a_df.columns):
        print (country)

In [22]:
for country in a_df.columns:
    if (country not in country_list):
        print (country)

In [23]:
a = a_df2.values.ravel()
a

array([6.57 , 6.786, 7.002, ..., 4.67 , 4.67 , 4.67 ])

In [24]:
ml_df['Alcohol Consumption'] = a.tolist()
ml_df

               Life Expectancy  Alcohol Consumption
Albania 2000             73.96                6.570
Albania 2001             74.29                6.786
Albania 2002             74.58                7.002
Albania 2003             74.83                7.218
Albania 2004             75.04                7.434
...                        ...                  ...
Zimbabwe 2015            59.53                4.920
Zimbabwe 2016            60.29                4.920
Zimbabwe 2017            60.81                4.670
Zimbabwe 2018            61.20                4.670
Zimbabwe 2019            61.49                4.670

[3380 rows x 2 columns]

In [25]:
#t_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/tobacco.csv")
t_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/tobacco_transformed.csv")
t_df

,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,...,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,"Venezuela, RB",Vietnam,"Yemen, Rep.",Zambia,Zimbabwe
0,35.00,22.200000,29.272603,29.272603,34.000000,32.000000,29.272603,24.400000,52.300000,28.700000,...,37.900000,33.800000,35.300000,24.900000,25.60,29.272603,29.800000,27.300000,19.90,21.00
1,34.26,22.120000,28.661096,28.661096,33.500000,31.660000,28.661096,23.740000,50.600000,28.480000,...,36.340000,33.160000,34.480000,24.460000,25.14,28.661096,29.500000,26.900000,19.54,20.42
2,33.52,22.040000,28.049589,28.049589,33.000000,31.320000,28.049589,23.080000,48.900000,28.260000,...,34.780000,32.520000,33.660000,24.020000,24.68,28.049589,29.200000,26.500000,19.18,19.84
3,32.78,21.960000,27.438082,27.438082,32.500000,30.980000,27.438082,22.420000,47.200000,28.040000,...,33.220000,31.880000,32.840000,23.580000,24.22,27.438082,28.900000,26.100000,18.82,19.26
4,32.04,21.880000,26.826575,26.826575,32.000000,30.640000,26.826575,21.760000,45.500000,27.820000,...,31.660000,31.240000,32.020000,23.140000,23.76,26.826575,28.600000,25.700000,18.46,18.68
5,31.30,21.800000,26.215068,26.215068,31.500000,30.300000,26.215068,21.100000,43.800000,27.600000,...,30.100000,30.600000,31.200000,22.700000,23.30,26.215068,28.300000,25.300000,18.10,18.10
6,30.64,21.740000,25.695890,25.695890,30.980000,29.960000,25.695890,20.520000,42.460000,27.320000,...,28.900000,30.080000,30.460000,22.340000,22.90,25.695890,28.040000,24.920000,17.82,17.60
7,29.98,21.680000,25.176712,25.176712,30.460000,29.620000,25.176712,19.940000,41.120000,27.040000,...,27.700000,29.560000,29.720000,21.980000,22.50,25.176712,27.780000,24.540000,17.54,17.10
8,29.32,21.620000,24.657534,24.657534,29.940000,29.280000,24.657534,19.360000,39.780000,26.760000,...,26.500000,29.040000,28.980000,21.620000,22.10,24.657534,27.520000,24.160000,17.26,16.60
9,28.66,21.560000,24.138356,24.138356,29.420000,28.940000,24.138356,18.780000,38.440000,26.480000,...,25.300000,28.520000,28.240000,21.260000,21.70,24.138356,27.260000,23.780000,16.98,16.10
10,28.00,21.500000,23.619178,23.619178,28.900000,28.600000,23.619178,18.200000,37.100000,26.200000,...,24.100000,28.000000,27.500000,20.900000,21.30,23.619178,27.000000,23.400000,16.70,15.60
11,27.42,21.420000,23.178219,23.178219,28.440000,28.260000,23.178219,17.700000,35.920000,26.000000,...,23.140000,27.460000,26.860000,20.540000,20.92,23.178219,26.800000,23.080000,16.46,15.20
12,26.84,21.340000,22.737260,22.737260,27.980000,27.920000,22.737260,17.200000,34.740000,25.800000,...,22.180000,26.920000,26.220000,20.180000,20.54,22.737260,26.600000,22.760000,16.22,14.80
13,26.26,21.260000,22.296301,22.296301,27.520000,27.580000,22.296301,16.700000,33.560000,25.600000,...,21.220000,26.380000,25.580000,19.820000,20.16,22.296301,26.400000,22.440000,15.98,14.40
14,25.68,21.180000,21.855342,21.855342,27.060000,27.240000,21.855342,16.200000,32.380000,25.400000,...,20.260000,25.840000,24.940000,19.460000,19.78,21.855342,26.200000,22.120000,15.74,14.00
15,25.10,21.100000,21.414384,21.414384,26.600000,26.900000,21.414384,15.700000,31.200000,25.200000,...,19.300000,25.300000,24.300000,19.100000,19.40,21.414384,26.000000,21.800000,15.50,13.60
16,24.40,21.066667,20.915525,20.915525,26.033333,26.533333,20.915525,15.133333,29.833333,24.866667,...,18.233333,24.666667,23.533333,18.666667,19.00,20.915525,25.666667,21.366667,15.20,13.10
17,23.70,21.033333,20.416667,20.416667,25.466667,26.166667,20.416667,14.566667,28.466667,24.533333,...,17.166667,24.033333,22.766667,18.233333,18.60,20.416667,25.333333,20.933333,14.90,12.60
18,23.00,21.000000,19.917808,19.917808,24.900000,25.800000,19.917808,14.000000,27.100000,24.200000,...,16.100000,23.400000,22.000000,17.800000,18.20,19.917808,25.000000,20.500000,14.60,12.10
19,23.10,21.000000,19.918493,19.918493,24.900000,25.800000,19.918493,14.000000,27.100000,24.200000,...,16.100000,23.400000,22.000000,17.800000,18.20,19.918493,25.000000,20.500000,14.60,12.10

In [26]:
t_df.rename(columns ={'Bahamas, The' : 'Bahamas', 'Gambia, The': 'Gambia', 'United States': 'United States of America'}, inplace = True)
t_df.rename(columns ={'St. Lucia' : 'Saint Lucia', 'Slovak Republic': 'Slovakia', 'Congo, Rep.': 'Congo'}, inplace = True)
t_df.rename(columns ={'St. Vincent and the Grenadines' : 'Saint Vincent and the Grenadines', 'Venezuela, RB': 'Venezuela', 'Egypt, Arab Rep.': 'Egypt'}, inplace = True)
t_df.rename(columns ={'Yemen, Rep.' : 'Yemen', 'Korea, Rep.': 'South Korea', 'Micronesia, Fed. Sts.': 'Micronesia'}, inplace = True)
t_df.rename(columns ={'Iran, Islamic Rep.' : 'Iran', 'Congo, Dem. Rep.': 'Democratic Republic of the Congo', 'Lao PDR': "Lao People's Democratic Republic"}, inplace = True)

In [27]:
#t_df = t_df.reindex(sorted(t_df.columns), axis=1)
#t_df

In [28]:
t_df2 = t_df.T
t_df2 
#t_df2.to_csv("../Clean_Data/Supervised_Machine_Learning_Data/tobacco_transformed.csv")

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Albania,35.000000,34.260000,33.520000,32.780000,32.040000,31.300000,30.64000,29.980000,29.320000,28.660000,28.000000,27.420000,26.84000,26.260000,25.680000,25.100000,24.400000,23.700000,23.000000,23.100000
Algeria,22.200000,22.120000,22.040000,21.960000,21.880000,21.800000,21.74000,21.680000,21.620000,21.560000,21.500000,21.420000,21.34000,21.260000,21.180000,21.100000,21.066667,21.033333,21.000000,21.000000
Angola,29.272603,28.661096,28.049589,27.438082,26.826575,26.215068,25.69589,25.176712,24.657534,24.138356,23.619178,23.178219,22.73726,22.296301,21.855342,21.414384,20.915525,20.416667,19.917808,19.918493
Antigua and Barbuda,29.272603,28.661096,28.049589,27.438082,26.826575,26.215068,25.69589,25.176712,24.657534,24.138356,23.619178,23.178219,22.73726,22.296301,21.855342,21.414384,20.915525,20.416667,19.917808,19.918493
Argentina,34.000000,33.500000,33.000000,32.500000,32.000000,31.500000,30.98000,30.460000,29.940000,29.420000,28.900000,28.440000,27.98000,27.520000,27.060000,26.600000,26.033333,25.466667,24.900000,24.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,29.272603,28.661096,28.049589,27.438082,26.826575,26.215068,25.69589,25.176712,24.657534,24.138356,23.619178,23.178219,22.73726,22.296301,21.855342,21.414384,20.915525,20.416667,19.917808,19.918493
Vietnam,29.800000,29.500000,29.200000,28.900000,28.600000,28.300000,28.04000,27.780000,27.520000,27.260000,27.000000,26.800000,26.60000,26.400000,26.200000,26.000000,25.666667,25.333333,25.000000,25.000000
Yemen,27.300000,26.900000,26.500000,26.100000,25.700000,25.300000,24.92000,24.540000,24.160000,23.780000,23.400000,23.080000,22.76000,22.440000,22.120000,21.800000,21.366667,20.933333,20.500000,20.500000
Zambia,19.900000,19.540000,19.180000,18.820000,18.460000,18.100000,17.82000,17.540000,17.260000,16.980000,16.700000,16.460000,16.22000,15.980000,15.740000,15.500000,15.200000,14.900000,14.600000,14.600000
Zimbabwe,21.000000,20.420000,19.840000,19.260000,18.680000,18.100000,17.60000,17.100000,16.600000,16.100000,15.600000,15.200000,14.80000,14.400000,14.000000,13.600000,13.100000,12.600000,12.100000,12.100000

In [29]:
for country in country_list:
    if (country not in t_df.columns):
        print (country)

In [30]:
for country in t_df.columns:
    if (country not in country_list):
        print (country)

In [31]:
t = t_df2.values.ravel()
t

array([35.  , 34.26, 33.52, ..., 12.6 , 12.1 , 12.1 ])

In [32]:
ml_df['Tobacco Consumption'] = t.tolist()
ml_df

               Life Expectancy  Alcohol Consumption  Tobacco Consumption
Albania 2000             73.96                6.570                35.00
Albania 2001             74.29                6.786                34.26
Albania 2002             74.58                7.002                33.52
Albania 2003             74.83                7.218                32.78
Albania 2004             75.04                7.434                32.04
...                        ...                  ...                  ...
Zimbabwe 2015            59.53                4.920                13.60
Zimbabwe 2016            60.29                4.920                13.10
Zimbabwe 2017            60.81                4.670                12.60
Zimbabwe 2018            61.20                4.670                12.10
Zimbabwe 2019            61.49                4.670                12.10

[3380 rows x 3 columns]

In [33]:
#gdp_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/gdp_clean.csv")
gdp_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/gdp_clean_transformed.csv")
gdp_df

,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,...,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,"Venezuela, RB",Vietnam,"Yemen, Rep.",Zambia,Zimbabwe
0,1960.881946,3138.231048,1832.514102,14247.97301,10672.722040,1249.612148,29005.93337,45893.81175,38842.89052,1480.756662,...,39187.58308,48746.04096,10167.721970,1276.760315,2731.605850,4842.036601,1183.854097,2227.651225,814.772966,1676.515461
1,2143.526278,3188.207271,1847.874736,13392.98172,10090.653440,1385.044814,29693.13991,46233.24851,39184.80860,1614.792119,...,39879.20578,48726.58167,9751.049067,1313.192271,2572.369999,4986.675788,1244.306519,2250.204480,832.765719,1689.756427
2,2247.497491,3321.638849,2031.503726,13358.81437,8895.319642,1582.057645,29059.48651,47535.78957,39636.48261,1754.073609,...,40413.92315,49095.33180,8982.125857,1348.763795,2377.226792,3700.879740,1309.430272,2277.231600,844.092011,1530.006438
3,2380.643997,3512.900200,2022.035684,14010.84906,9581.969792,1815.788251,29093.57824,48454.28220,39815.22195,1918.543625,...,41482.46171,50036.23423,9044.169938,1389.587208,2417.770535,3272.615024,1385.448733,2300.762922,875.254433,1260.391137
4,2522.448714,3612.754164,2166.147716,14656.29262,10341.643410,2018.460170,30931.93650,49960.38024,40651.22662,2077.812263,...,42214.35342,51485.20741,9486.440619,1475.969665,2453.056661,4325.696756,1474.740771,2329.329940,907.493697,1178.890231
5,2675.507936,3774.072491,2404.631169,15423.80002,11141.310670,2312.982895,30505.33919,50912.46690,41281.27076,2631.758981,...,43044.21153,52789.73142,10182.268770,1560.292008,2521.358840,5504.977240,1570.193228,2391.832552,941.446954,1105.755120
6,2851.367012,3783.314204,2587.725057,17163.39783,11913.958530,2636.256687,30490.36584,51606.66553,42496.35105,3501.041809,...,43652.09467,53738.09173,10584.866590,1656.222593,2669.776623,6833.378912,1663.559513,2395.134593,981.345474,1058.325559
7,3044.895819,3848.779512,2844.818355,18505.79067,12857.092580,3019.465605,31051.00157,52587.78600,43937.71289,4326.961569,...,44423.83525,54299.61724,11255.698980,1787.490213,2681.340164,8454.469536,1765.122605,2401.279541,1026.401603,1009.827466
8,3298.478044,3874.369338,3048.594002,18228.64913,13246.634890,3250.498659,31230.19304,53383.70750,44440.05589,4692.912185,...,44007.54928,53854.16061,12036.394640,1917.849372,2763.660268,11432.745920,1846.866784,2415.525184,1067.386802,824.791702
9,3432.169973,3866.297025,2963.315988,15804.44514,12336.861940,2810.192882,27243.33320,53272.98473,42655.19213,5023.790770,...,41705.93912,51996.18350,12517.030060,2037.581498,2779.443169,11765.099760,1926.623818,2435.767273,1125.089048,914.494574
10,3577.113388,3931.721348,2993.420974,14367.95150,13551.339190,2889.566270,26200.72730,53607.98476,43334.50896,5215.020915,...,42385.86022,52963.46417,13459.594430,2131.357731,2748.341033,13825.357120,2028.605534,2547.640714,1198.304817,1096.835479
11,3678.046738,3969.661577,2983.032611,13918.59653,14200.269890,3043.262831,26829.63448,54132.52175,44451.00019,5152.657454,...,42504.89635,53394.86184,14116.560450,2231.052724,2768.746180,10955.538010,2135.782152,2159.845458,1222.979058,1239.241794
12,3736.339101,4025.642803,3118.343699,14232.96959,13895.633710,3278.670496,26337.58506,55271.36614,44549.88170,5194.738390,...,42821.76128,54213.45955,14574.858320,2354.593655,2731.291868,12986.222690,2229.320092,2148.466789,1273.161306,1408.457168
13,3780.698202,4057.766137,3152.704327,14015.87931,14071.508680,3402.083904,27821.79160,55729.19299,44299.37818,5425.905292,...,43310.02056,54830.78407,15205.456130,2487.244416,2679.174595,12457.768600,2327.932657,2188.617514,1294.500770,1422.376711
14,3855.759734,4129.423902,3185.122401,14427.40691,13567.948420,3538.529444,27624.37730,56320.11029,44245.16874,5505.988233,...,44367.85300,55675.38685,15649.414340,2613.748262,2697.772221,16055.645320,2451.159232,2123.935347,1312.014433,1412.204012
15,3952.802538,4197.421361,3100.830685,14861.88271,13789.060420,3666.141876,28421.38649,56710.44572,44195.81759,5500.310382,...,45071.07432,56762.72945,15655.937000,2753.971072,2643.886085,10568.000000,2595.234979,1488.416482,1307.909649,1410.329174
16,4090.371657,4246.243565,2914.415459,15570.90406,13360.211830,3689.830136,28852.23707,57356.05124,44590.25163,5270.552975,...,45699.29696,57292.53878,15869.433480,2867.051128,2701.591433,9092.000000,2741.052937,1313.973797,1315.250562,1393.717011
17,4249.803734,4218.083701,2808.521753,15962.68012,13595.037360,3985.916757,30270.94160,57703.03436,45281.72340,5229.526141,...,46499.01355,58207.57831,16088.002030,2943.099222,2802.778091,4755.000000,2903.028290,1215.752770,1319.607777,1421.240770
18,4431.539181,4188.221757,2677.177816,16967.08623,13105.397160,4215.899456,31705.27905,58481.03442,46154.62510,5262.183808,...,47006.14293,59607.39366,16142.048690,3047.308384,2815.586291,3411.000000,3090.772241,1194.820732,1331.449244,1462.590280
19,4543.386520,4153.004816,2569.691347,17697.23115,12716.224200,4561.967866,31762.73403,58870.02169,46647.08096,5348.265267,...,47491.59456,60698.01130,16192.159210,3161.415381,2838.987410,3411.000000,3288.353073,1194.820732,1310.622224,1342.989587

In [34]:
gdp_df.rename(columns ={'Bahamas, The' : 'Bahamas', 'Gambia, The': 'Gambia', 'United States': 'United States of America'}, inplace = True)
gdp_df.rename(columns ={'St. Lucia' : 'Saint Lucia', 'Slovak Republic': 'Slovakia', 'Congo, Rep.': 'Congo'}, inplace = True)
gdp_df.rename(columns ={'St. Vincent and the Grenadines' : 'Saint Vincent and the Grenadines', 'Venezuela, RB': 'Venezuela', 'Egypt, Arab Rep.': 'Egypt'}, inplace = True)
gdp_df.rename(columns ={'Yemen, Rep.' : 'Yemen', 'Korea, Rep.': 'South Korea', 'Micronesia, Fed. Sts.': 'Micronesia'}, inplace = True)
gdp_df.rename(columns ={'Iran, Islamic Rep.' : 'Iran', 'Congo, Dem. Rep.': 'Democratic Republic of the Congo', 'Lao PDR': "Lao People's Democratic Republic"}, inplace = True)

In [35]:
gdp_df = gdp_df.reindex(sorted(gdp_df.columns), axis=1)
gdp_df

,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,...,United Kingdom,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,1960.881946,3138.231048,1832.514102,14247.97301,10672.722040,1249.612148,29005.93337,45893.81175,38842.89052,1480.756662,...,39187.58308,48746.04096,10167.721970,1276.760315,2731.605850,4842.036601,1183.854097,2227.651225,814.772966,1676.515461
1,2143.526278,3188.207271,1847.874736,13392.98172,10090.653440,1385.044814,29693.13991,46233.24851,39184.80860,1614.792119,...,39879.20578,48726.58167,9751.049067,1313.192271,2572.369999,4986.675788,1244.306519,2250.204480,832.765719,1689.756427
2,2247.497491,3321.638849,2031.503726,13358.81437,8895.319642,1582.057645,29059.48651,47535.78957,39636.48261,1754.073609,...,40413.92315,49095.33180,8982.125857,1348.763795,2377.226792,3700.879740,1309.430272,2277.231600,844.092011,1530.006438
3,2380.643997,3512.900200,2022.035684,14010.84906,9581.969792,1815.788251,29093.57824,48454.28220,39815.22195,1918.543625,...,41482.46171,50036.23423,9044.169938,1389.587208,2417.770535,3272.615024,1385.448733,2300.762922,875.254433,1260.391137
4,2522.448714,3612.754164,2166.147716,14656.29262,10341.643410,2018.460170,30931.93650,49960.38024,40651.22662,2077.812263,...,42214.35342,51485.20741,9486.440619,1475.969665,2453.056661,4325.696756,1474.740771,2329.329940,907.493697,1178.890231
5,2675.507936,3774.072491,2404.631169,15423.80002,11141.310670,2312.982895,30505.33919,50912.46690,41281.27076,2631.758981,...,43044.21153,52789.73142,10182.268770,1560.292008,2521.358840,5504.977240,1570.193228,2391.832552,941.446954,1105.755120
6,2851.367012,3783.314204,2587.725057,17163.39783,11913.958530,2636.256687,30490.36584,51606.66553,42496.35105,3501.041809,...,43652.09467,53738.09173,10584.866590,1656.222593,2669.776623,6833.378912,1663.559513,2395.134593,981.345474,1058.325559
7,3044.895819,3848.779512,2844.818355,18505.79067,12857.092580,3019.465605,31051.00157,52587.78600,43937.71289,4326.961569,...,44423.83525,54299.61724,11255.698980,1787.490213,2681.340164,8454.469536,1765.122605,2401.279541,1026.401603,1009.827466
8,3298.478044,3874.369338,3048.594002,18228.64913,13246.634890,3250.498659,31230.19304,53383.70750,44440.05589,4692.912185,...,44007.54928,53854.16061,12036.394640,1917.849372,2763.660268,11432.745920,1846.866784,2415.525184,1067.386802,824.791702
9,3432.169973,3866.297025,2963.315988,15804.44514,12336.861940,2810.192882,27243.33320,53272.98473,42655.19213,5023.790770,...,41705.93912,51996.18350,12517.030060,2037.581498,2779.443169,11765.099760,1926.623818,2435.767273,1125.089048,914.494574
10,3577.113388,3931.721348,2993.420974,14367.95150,13551.339190,2889.566270,26200.72730,53607.98476,43334.50896,5215.020915,...,42385.86022,52963.46417,13459.594430,2131.357731,2748.341033,13825.357120,2028.605534,2547.640714,1198.304817,1096.835479
11,3678.046738,3969.661577,2983.032611,13918.59653,14200.269890,3043.262831,26829.63448,54132.52175,44451.00019,5152.657454,...,42504.89635,53394.86184,14116.560450,2231.052724,2768.746180,10955.538010,2135.782152,2159.845458,1222.979058,1239.241794
12,3736.339101,4025.642803,3118.343699,14232.96959,13895.633710,3278.670496,26337.58506,55271.36614,44549.88170,5194.738390,...,42821.76128,54213.45955,14574.858320,2354.593655,2731.291868,12986.222690,2229.320092,2148.466789,1273.161306,1408.457168
13,3780.698202,4057.766137,3152.704327,14015.87931,14071.508680,3402.083904,27821.79160,55729.19299,44299.37818,5425.905292,...,43310.02056,54830.78407,15205.456130,2487.244416,2679.174595,12457.768600,2327.932657,2188.617514,1294.500770,1422.376711
14,3855.759734,4129.423902,3185.122401,14427.40691,13567.948420,3538.529444,27624.37730,56320.11029,44245.16874,5505.988233,...,44367.85300,55675.38685,15649.414340,2613.748262,2697.772221,16055.645320,2451.159232,2123.935347,1312.014433,1412.204012
15,3952.802538,4197.421361,3100.830685,14861.88271,13789.060420,3666.141876,28421.38649,56710.44572,44195.81759,5500.310382,...,45071.07432,56762.72945,15655.937000,2753.971072,2643.886085,10568.000000,2595.234979,1488.416482,1307.909649,1410.329174
16,4090.371657,4246.243565,2914.415459,15570.90406,13360.211830,3689.830136,28852.23707,57356.05124,44590.25163,5270.552975,...,45699.29696,57292.53878,15869.433480,2867.051128,2701.591433,9092.000000,2741.052937,1313.973797,1315.250562,1393.717011
17,4249.803734,4218.083701,2808.521753,15962.68012,13595.037360,3985.916757,30270.94160,57703.03436,45281.72340,5229.526141,...,46499.01355,58207.57831,16088.002030,2943.099222,2802.778091,4755.000000,2903.028290,1215.752770,1319.607777,1421.240770
18,4431.539181,4188.221757,2677.177816,16967.08623,13105.397160,4215.899456,31705.27905,58481.03442,46154.62510,5262.183808,...,47006.14293,59607.39366,16142.048690,3047.308384,2815.586291,3411.000000,3090.772241,1194.820732,1331.449244,1462.590280
19,4543.386520,4153.004816,2569.691347,17697.23115,12716.224200,4561.967866,31762.73403,58870.02169,46647.08096,5348.265267,...,47491.59456,60698.01130,16192.159210,3161.415381,2838.987410,3411.000000,3288.353073,1194.820732,1310.622224,1342.989587

In [36]:
gdp_df2 = gdp_df.T
gdp_df2 
#gdp_df2.to_csv("../Clean_Data/Supervised_Machine_Learning_Data/gdp_clean_transformed.csv")

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Albania,1960.881946,2143.526278,2247.497491,2380.643997,2522.448714,2675.507936,2851.367012,3044.895819,3298.478044,3432.169973,3577.113388,3678.046738,3736.339101,3780.698202,3855.759734,3952.802538,4090.371657,4249.803734,4431.539181,4543.38652
Algeria,3138.231048,3188.207271,3321.638849,3512.9002,3612.754164,3774.072491,3783.314204,3848.779512,3874.369338,3866.297025,3931.721348,3969.661577,4025.642803,4057.766137,4129.423902,4197.421361,4246.243565,4218.083701,4188.221757,4153.004816
Angola,1832.514102,1847.874736,2031.503726,2022.035684,2166.147716,2404.631169,2587.725057,2844.818355,3048.594002,2963.315988,2993.420974,2983.032611,3118.343699,3152.704327,3185.122401,3100.830685,2914.415459,2808.521753,2677.177816,2569.691347
Antigua and Barbuda,14247.97301,13392.98172,13358.81437,14010.84906,14656.29262,15423.80002,17163.39783,18505.79067,18228.64913,15804.44514,14367.9515,13918.59653,14232.96959,14015.87931,14427.40691,14861.88271,15570.90406,15962.68012,16967.08623,17697.23115
Argentina,10672.72204,10090.65344,8895.319642,9581.969792,10341.64341,11141.31067,11913.95853,12857.09258,13246.63489,12336.86194,13551.33919,14200.26989,13895.63371,14071.50868,13567.94842,13789.06042,13360.21183,13595.03736,13105.39716,12716.2242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,4842.036601,4986.675788,3700.87974,3272.615024,4325.696756,5504.97724,6833.378912,8454.469536,11432.74592,11765.09976,13825.35712,10955.53801,12986.22269,12457.7686,16055.64532,10568.0,9092.0,4755.0,3411.0,3411.0
Vietnam,1183.854097,1244.306519,1309.430272,1385.448733,1474.740771,1570.193228,1663.559513,1765.122605,1846.866784,1926.623818,2028.605534,2135.782152,2229.320092,2327.932657,2451.159232,2595.234979,2741.052937,2903.02829,3090.772241,3288.353073
Yemen,2227.651225,2250.20448,2277.2316,2300.762922,2329.32994,2391.832552,2395.134593,2401.279541,2415.525184,2435.767273,2547.640714,2159.845458,2148.466789,2188.617514,2123.935347,1488.416482,1313.973797,1215.75277,1194.820732,1194.820732
Zambia,814.772966,832.765719,844.092011,875.254433,907.493697,941.446954,981.345474,1026.401603,1067.386802,1125.089048,1198.304817,1222.979058,1273.161306,1294.50077,1312.014433,1307.909649,1315.250562,1319.607777,1331.449244,1310.622224
Zimbabwe,1676.515461,1689.756427,1530.006438,1260.391137,1178.890231,1105.75512,1058.325559,1009.827466,824.791702,914.494574,1096.835479,1239.241794,1408.457168,1422.376711,1412.204012,1410.329174,1393.717011,1421.24077,1462.59028,1342.989587

In [37]:
for country in country_list:
    if (country not in gdp_df.columns):
        print (country)

In [38]:
for country in gdp_df.columns:
    if (country not in country_list):
        print (country)

In [39]:
gdp = gdp_df2.values.ravel()
gdp

array([1960.881946, 2143.526278, 2247.497491, ..., 1421.24077, 1462.59028,
       1342.989587], dtype=object)

In [40]:
ml_df['GDP per Capita'] = gdp.tolist()
ml_df

,Life Expectancy,Alcohol Consumption,Tobacco Consumption,GDP per Capita
Albania 2000,73.96,6.570,35.00,1960.881946
Albania 2001,74.29,6.786,34.26,2143.526278
Albania 2002,74.58,7.002,33.52,2247.497491
Albania 2003,74.83,7.218,32.78,2380.643997
Albania 2004,75.04,7.434,32.04,2522.448714
...,...,...,...,...
Zimbabwe 2015,59.53,4.920,13.60,1410.329174
Zimbabwe 2016,60.29,4.920,13.10,1393.717011
Zimbabwe 2017,60.81,4.670,12.60,1421.24077
Zimbabwe 2018,61.20,4.670,12.10,1462.59028
Zimbabwe 2019,61.49,4.670,12.10,1342.989587

In [41]:
#govt_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/govt_expenditure.csv")
govt_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/govt_expenditure_transformed.csv")
govt_df

,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,...,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,"Venezuela, RB",Vietnam,"Yemen, Rep.",Zambia,Zimbabwe
0,105.456830,212.078616,36.494994,459.332747,584.440767,25.378782,403.543581,1548.318089,2008.366784,29.570896,...,1461.115601,2017.003456,426.326454,62.427912,55.497610,395.574186,33.631037,70.220514,52.334410,50.410680
1,115.797918,256.715124,69.258629,519.564804,576.419167,40.117778,403.543581,1620.795847,2033.936339,29.995620,...,1608.430929,2219.072430,480.844157,66.454771,54.569483,430.202189,32.389418,75.607934,53.561034,50.410680
2,117.765888,260.965758,49.533500,505.847848,453.340709,40.592376,403.543581,1753.997918,2156.010712,30.700949,...,1787.594952,2406.651113,475.262214,65.873957,53.467335,393.512415,38.057189,72.952232,52.779545,50.410680
3,130.028157,276.712448,56.261245,583.795980,464.989799,48.781034,403.543581,1827.478261,2248.073273,36.183636,...,1931.438673,2578.606216,529.964149,67.672732,52.535515,386.436942,37.732300,77.242095,46.231843,50.410680
4,149.138456,267.827454,71.268132,555.833873,457.366550,59.721603,403.543581,1974.033328,2369.416479,44.571675,...,2152.879944,2761.534819,493.064424,70.240027,51.051792,448.565191,50.493233,65.093821,49.005031,50.410680
5,152.514642,255.677434,61.862619,562.684461,530.999870,80.653565,403.543581,2041.543315,2456.832943,61.802928,...,2244.558866,2929.732924,440.843526,76.882476,49.787023,384.522812,55.417230,58.367786,40.028383,50.410680
6,163.972957,270.494920,77.433994,568.531116,600.908080,101.717401,403.543581,2158.838200,2616.092176,79.927224,...,2457.149185,3159.012788,497.639192,87.573609,54.455268,700.190124,62.800623,59.233460,40.832632,50.410680
7,173.450134,328.320195,104.190761,584.520653,705.039970,121.875171,403.543581,2319.057020,2737.004784,106.665639,...,2517.775757,3328.428072,535.218006,92.019576,58.385905,673.451429,67.963926,58.776110,25.077660,50.410680
8,183.441138,382.475948,141.292692,547.736999,784.670533,123.522301,403.543581,2384.919322,2969.805136,113.265483,...,2717.326864,3515.599860,733.902362,103.997217,62.694231,452.637494,72.896980,61.875748,15.894334,50.410680
9,203.048052,483.317901,168.267144,514.377726,926.151516,131.040407,403.543581,2594.642918,3053.350260,161.531085,...,2875.797775,3714.851415,792.407050,119.130177,56.090602,442.381001,75.846496,51.408051,12.853393,50.410680
10,226.496869,465.611349,110.289197,646.469413,1003.111665,126.578017,403.543581,2595.675235,3115.273764,151.240476,...,2958.146160,3854.495482,867.208126,116.155803,53.645104,432.986053,99.597665,48.370349,26.746003,50.410680
11,239.540583,502.185160,114.969766,630.729016,1096.161433,134.255142,403.543581,2755.143820,3246.044290,140.745334,...,3009.076615,3954.628625,955.946500,123.617688,66.691801,539.614793,102.806354,39.393579,40.016327,44.551645
12,257.226245,582.172439,115.889529,604.521286,1204.335815,147.786019,403.543581,2691.582711,3461.928497,178.311102,...,3094.007292,4074.731279,1023.933406,143.176090,64.489957,523.714564,132.689901,43.336819,44.421054,47.490034
13,271.677048,559.914716,130.230817,580.750849,1252.480351,135.307234,403.543581,2820.146826,3569.084668,183.340892,...,3193.659745,4215.403784,1121.016682,152.907495,62.790332,402.160589,159.936161,36.133147,46.878381,51.678170
14,291.298133,613.044607,107.816221,661.412794,1246.387113,151.103051,403.543581,2891.697554,3685.708052,197.373037,...,3300.081198,4531.417273,1200.453418,151.866233,16.684355,360.533885,139.407535,28.608853,67.030653,71.362740
15,317.364248,590.809153,90.563269,596.971342,1373.855115,160.532699,403.543581,3005.886782,3771.061666,195.128159,...,3385.602491,4804.292251,1245.804415,159.370600,59.594778,337.137256,144.225266,11.201714,71.713982,41.568815
16,337.441379,519.891792,85.063742,569.824767,1137.588516,175.265247,403.543581,3174.662987,3962.904754,167.565391,...,3512.145528,4965.938148,1354.377726,141.509500,38.744883,268.145545,176.434981,11.201714,58.366546,50.205993
17,341.451844,486.094142,94.447213,543.258112,1561.074206,166.280891,403.543581,3239.342436,4044.724739,141.623901,...,3597.155504,5117.236419,1406.627250,139.178876,45.697435,352.366219,195.491825,11.201714,61.534552,54.333036
18,392.525445,483.972366,79.316356,630.274173,1388.022051,160.815135,403.543581,3354.059313,4281.486120,135.044381,...,3834.297074,5338.817901,1491.792308,142.132262,68.594980,339.836481,205.639544,11.201714,70.806996,86.310014
19,392.525445,487.790072,73.389138,594.023129,1371.239607,200.488176,403.543581,3795.177678,4478.389533,192.296278,...,4042.841541,5552.600230,1538.368051,173.837326,63.120401,177.032719,244.775723,11.201714,77.162914,36.746649

In [42]:
govt_df.rename(columns ={'Bahamas, The' : 'Bahamas', 'Gambia, The': 'Gambia', 'United States': 'United States of America'}, inplace = True)
govt_df.rename(columns ={'St. Lucia' : 'Saint Lucia', 'Slovak Republic': 'Slovakia', 'Congo, Rep.': 'Congo'}, inplace = True)
govt_df.rename(columns ={'St. Vincent and the Grenadines' : 'Saint Vincent and the Grenadines', 'Venezuela, RB': 'Venezuela', 'Egypt, Arab Rep.': 'Egypt'}, inplace = True)
govt_df.rename(columns ={'Yemen, Rep.' : 'Yemen', 'Korea, Rep.': 'South Korea', 'Micronesia, Fed. Sts.': 'Micronesia'}, inplace = True)
govt_df.rename(columns ={'Iran, Islamic Rep.' : 'Iran', 'Congo, Dem. Rep.': 'Democratic Republic of the Congo', 'Lao PDR': "Lao People's Democratic Republic"}, inplace = True)

In [43]:
govt_df = govt_df.reindex(sorted(govt_df.columns), axis=1)
govt_df

,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,...,United Kingdom,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,105.456830,212.078616,36.494994,459.332747,584.440767,25.378782,403.543581,1548.318089,2008.366784,29.570896,...,1461.115601,2017.003456,426.326454,62.427912,55.497610,395.574186,33.631037,70.220514,52.334410,50.410680
1,115.797918,256.715124,69.258629,519.564804,576.419167,40.117778,403.543581,1620.795847,2033.936339,29.995620,...,1608.430929,2219.072430,480.844157,66.454771,54.569483,430.202189,32.389418,75.607934,53.561034,50.410680
2,117.765888,260.965758,49.533500,505.847848,453.340709,40.592376,403.543581,1753.997918,2156.010712,30.700949,...,1787.594952,2406.651113,475.262214,65.873957,53.467335,393.512415,38.057189,72.952232,52.779545,50.410680
3,130.028157,276.712448,56.261245,583.795980,464.989799,48.781034,403.543581,1827.478261,2248.073273,36.183636,...,1931.438673,2578.606216,529.964149,67.672732,52.535515,386.436942,37.732300,77.242095,46.231843,50.410680
4,149.138456,267.827454,71.268132,555.833873,457.366550,59.721603,403.543581,1974.033328,2369.416479,44.571675,...,2152.879944,2761.534819,493.064424,70.240027,51.051792,448.565191,50.493233,65.093821,49.005031,50.410680
5,152.514642,255.677434,61.862619,562.684461,530.999870,80.653565,403.543581,2041.543315,2456.832943,61.802928,...,2244.558866,2929.732924,440.843526,76.882476,49.787023,384.522812,55.417230,58.367786,40.028383,50.410680
6,163.972957,270.494920,77.433994,568.531116,600.908080,101.717401,403.543581,2158.838200,2616.092176,79.927224,...,2457.149185,3159.012788,497.639192,87.573609,54.455268,700.190124,62.800623,59.233460,40.832632,50.410680
7,173.450134,328.320195,104.190761,584.520653,705.039970,121.875171,403.543581,2319.057020,2737.004784,106.665639,...,2517.775757,3328.428072,535.218006,92.019576,58.385905,673.451429,67.963926,58.776110,25.077660,50.410680
8,183.441138,382.475948,141.292692,547.736999,784.670533,123.522301,403.543581,2384.919322,2969.805136,113.265483,...,2717.326864,3515.599860,733.902362,103.997217,62.694231,452.637494,72.896980,61.875748,15.894334,50.410680
9,203.048052,483.317901,168.267144,514.377726,926.151516,131.040407,403.543581,2594.642918,3053.350260,161.531085,...,2875.797775,3714.851415,792.407050,119.130177,56.090602,442.381001,75.846496,51.408051,12.853393,50.410680
10,226.496869,465.611349,110.289197,646.469413,1003.111665,126.578017,403.543581,2595.675235,3115.273764,151.240476,...,2958.146160,3854.495482,867.208126,116.155803,53.645104,432.986053,99.597665,48.370349,26.746003,50.410680
11,239.540583,502.185160,114.969766,630.729016,1096.161433,134.255142,403.543581,2755.143820,3246.044290,140.745334,...,3009.076615,3954.628625,955.946500,123.617688,66.691801,539.614793,102.806354,39.393579,40.016327,44.551645
12,257.226245,582.172439,115.889529,604.521286,1204.335815,147.786019,403.543581,2691.582711,3461.928497,178.311102,...,3094.007292,4074.731279,1023.933406,143.176090,64.489957,523.714564,132.689901,43.336819,44.421054,47.490034
13,271.677048,559.914716,130.230817,580.750849,1252.480351,135.307234,403.543581,2820.146826,3569.084668,183.340892,...,3193.659745,4215.403784,1121.016682,152.907495,62.790332,402.160589,159.936161,36.133147,46.878381,51.678170
14,291.298133,613.044607,107.816221,661.412794,1246.387113,151.103051,403.543581,2891.697554,3685.708052,197.373037,...,3300.081198,4531.417273,1200.453418,151.866233,16.684355,360.533885,139.407535,28.608853,67.030653,71.362740
15,317.364248,590.809153,90.563269,596.971342,1373.855115,160.532699,403.543581,3005.886782,3771.061666,195.128159,...,3385.602491,4804.292251,1245.804415,159.370600,59.594778,337.137256,144.225266,11.201714,71.713982,41.568815
16,337.441379,519.891792,85.063742,569.824767,1137.588516,175.265247,403.543581,3174.662987,3962.904754,167.565391,...,3512.145528,4965.938148,1354.377726,141.509500,38.744883,268.145545,176.434981,11.201714,58.366546,50.205993
17,341.451844,486.094142,94.447213,543.258112,1561.074206,166.280891,403.543581,3239.342436,4044.724739,141.623901,...,3597.155504,5117.236419,1406.627250,139.178876,45.697435,352.366219,195.491825,11.201714,61.534552,54.333036
18,392.525445,483.972366,79.316356,630.274173,1388.022051,160.815135,403.543581,3354.059313,4281.486120,135.044381,...,3834.297074,5338.817901,1491.792308,142.132262,68.594980,339.836481,205.639544,11.201714,70.806996,86.310014
19,392.525445,487.790072,73.389138,594.023129,1371.239607,200.488176,403.543581,3795.177678,4478.389533,192.296278,...,4042.841541,5552.600230,1538.368051,173.837326,63.120401,177.032719,244.775723,11.201714,77.162914,36.746649

In [44]:
govt_df2 = govt_df.T
govt_df2 
#govt_df2.to_csv("../Clean_Data/Supervised_Machine_Learning_Data/govt_expenditure_transformed.csv")

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Albania,105.456830,115.797918,117.765888,130.028157,149.138456,152.514642,163.972957,173.450134,183.441138,203.048052,226.496869,239.540583,257.226245,271.677048,291.298133,317.364248,337.441379,341.451844,392.525445,392.525445
Algeria,212.078616,256.715124,260.965758,276.712448,267.827454,255.677434,270.494920,328.320195,382.475948,483.317901,465.611349,502.185160,582.172439,559.914716,613.044607,590.809153,519.891792,486.094142,483.972366,487.790072
Angola,36.494994,69.258629,49.533500,56.261245,71.268132,61.862619,77.433994,104.190761,141.292692,168.267144,110.289197,114.969766,115.889529,130.230817,107.816221,90.563269,85.063742,94.447213,79.316356,73.389138
Antigua and Barbuda,459.332747,519.564804,505.847848,583.795980,555.833873,562.684461,568.531116,584.520653,547.736999,514.377726,646.469413,630.729016,604.521286,580.750849,661.412794,596.971342,569.824767,543.258112,630.274173,594.023129
Argentina,584.440767,576.419167,453.340709,464.989799,457.366550,530.999870,600.908080,705.039970,784.670533,926.151516,1003.111665,1096.161433,1204.335815,1252.480351,1246.387113,1373.855115,1137.588516,1561.074206,1388.022051,1371.239607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,395.574186,430.202189,393.512415,386.436942,448.565191,384.522812,700.190124,673.451429,452.637494,442.381001,432.986053,539.614793,523.714564,402.160589,360.533885,337.137256,268.145545,352.366219,339.836481,177.032719
Vietnam,33.631037,32.389418,38.057189,37.732300,50.493233,55.417230,62.800623,67.963926,72.896980,75.846496,99.597665,102.806354,132.689901,159.936161,139.407535,144.225266,176.434981,195.491825,205.639544,244.775723
Yemen,70.220514,75.607934,72.952232,77.242095,65.093821,58.367786,59.233460,58.776110,61.875748,51.408051,48.370349,39.393579,43.336819,36.133147,28.608853,11.201714,11.201714,11.201714,11.201714,11.201714
Zambia,52.334410,53.561034,52.779545,46.231843,49.005031,40.028383,40.832632,25.077660,15.894334,12.853393,26.746003,40.016327,44.421054,46.878381,67.030653,71.713982,58.366546,61.534552,70.806996,77.162914
Zimbabwe,50.410680,50.410680,50.410680,50.410680,50.410680,50.410680,50.410680,50.410680,50.410680,50.410680,50.410680,44.551645,47.490034,51.678170,71.362740,41.568815,50.205993,54.333036,86.310014,36.746649

In [45]:
for country in country_list:
    if (country not in govt_df.columns):
        print (country)

In [46]:
for country in govt_df.columns:
    if (country not in country_list):
        print (country)

In [47]:
govt = govt_df2.values.ravel()
govt

array([105.4568302 , 115.7979181 , 117.7658883 , ...,  54.33303618,
        86.31001407,  36.7466494 ])

In [48]:
ml_df['Goverment Expenditure per Capita'] = govt.tolist()
ml_df

,Life Expectancy,Alcohol Consumption,Tobacco Consumption,GDP per Capita,Goverment Expenditure per Capita
Albania 2000,73.96,6.570,35.00,1960.881946,105.456830
Albania 2001,74.29,6.786,34.26,2143.526278,115.797918
Albania 2002,74.58,7.002,33.52,2247.497491,117.765888
Albania 2003,74.83,7.218,32.78,2380.643997,130.028157
Albania 2004,75.04,7.434,32.04,2522.448714,149.138456
...,...,...,...,...,...
Zimbabwe 2015,59.53,4.920,13.60,1410.329174,41.568815
Zimbabwe 2016,60.29,4.920,13.10,1393.717011,50.205993
Zimbabwe 2017,60.81,4.670,12.60,1421.24077,54.333036
Zimbabwe 2018,61.20,4.670,12.10,1462.59028,86.310014
Zimbabwe 2019,61.49,4.670,12.10,1342.989587,36.746649

In [49]:
#prv_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/private_expenditure.csv")
prv_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/private_expenditure_transformed.csv")
prv_df

,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,...,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,"Venezuela, RB",Vietnam,"Yemen, Rep.",Zambia,Zimbabwe
0,166.587886,82.470888,25.878831,331.957375,483.060811,71.903971,230.013552,607.023422,699.662478,69.014415,...,443.270240,2526.432776,599.598497,97.242470,7.855590,466.437215,58.645748,63.527242,61.791769,88.689601
1,173.488161,79.906086,80.317512,359.239601,472.333157,73.995974,244.522889,658.532648,727.864695,73.329400,...,494.068030,2675.208154,589.768182,104.633003,8.134556,526.268513,85.078217,71.037946,51.515104,88.689601
2,187.681174,85.546225,74.881754,358.580742,361.273337,202.224577,257.327877,684.220277,779.808003,82.579356,...,520.078162,2916.091037,516.020466,109.274086,7.052958,460.022506,61.388392,74.435734,51.997816,88.689601
3,185.781196,83.906026,78.522735,390.681276,381.971001,226.348081,270.712496,734.122774,825.657313,87.476145,...,526.997704,3153.623495,481.385555,110.389614,9.745258,380.189043,71.298157,104.309845,63.355774,88.689601
4,188.587613,107.349803,93.130271,401.539441,370.058777,204.467457,285.347060,779.646424,918.929995,90.405325,...,532.235795,3335.752883,448.632446,113.023587,10.005014,379.384257,83.330052,114.225695,55.351392,88.689601
5,190.444952,113.021200,71.926707,447.357886,489.472463,201.800526,297.106766,800.348111,924.826728,89.079816,...,516.518793,3524.670812,534.985511,117.595322,10.301381,442.681601,89.422693,121.422192,57.061268,88.689601
6,197.691071,124.396674,58.131727,503.588797,537.725956,229.966102,317.413494,853.508891,974.967982,107.552215,...,537.135612,3669.603185,545.909859,123.746702,10.527905,532.012854,104.524826,135.178937,55.118931,88.689601
7,251.817070,141.824271,70.923134,552.553370,590.167397,242.596957,336.641103,861.820684,1022.668154,123.394040,...,614.006338,3853.464170,567.586238,136.244525,10.523468,629.689271,117.563570,153.685224,46.665122,88.689601
8,220.297523,148.579698,72.796990,529.223402,626.268452,395.155052,354.846590,912.359846,1054.997443,137.718828,...,616.730494,3885.769571,568.528001,147.489546,10.612665,683.438407,116.320260,154.906485,47.942985,88.689601
9,188.358081,198.173757,70.858830,422.392261,614.013965,451.668889,372.248918,959.149225,1138.122835,207.364828,...,599.626026,3942.707305,542.580027,162.672186,11.152097,843.961434,128.255866,177.038440,42.738731,88.689601
10,214.029095,204.316139,61.499454,460.673656,693.069158,540.808695,378.529851,991.628395,1187.845708,215.799702,...,642.665754,4033.856054,577.482236,147.499502,11.806884,710.292926,146.157737,161.168507,37.548253,88.689601
11,240.674171,208.809642,57.490534,476.226740,710.500681,594.501738,391.865204,1005.615985,1219.615076,217.468316,...,664.968126,4125.585967,598.112792,156.891583,11.804852,718.170060,156.621142,126.435125,32.633226,92.685875
12,266.937374,215.839952,57.843080,469.319129,714.807910,682.284493,404.830195,1086.891027,1288.652907,287.804307,...,715.009359,4267.848607,570.004779,167.714862,12.090694,659.225419,176.232461,131.676323,30.417391,91.678683
13,288.868714,228.005771,74.330777,452.352217,708.134927,859.046564,423.622108,1341.473459,1376.365074,336.259682,...,803.250514,4306.722107,565.666858,181.263802,12.182643,641.193395,171.961924,138.309837,29.095912,93.752333
14,322.360596,238.005123,84.966779,456.597948,648.651098,854.852406,435.875723,1391.444573,1396.829004,387.514414,...,823.988499,4407.979182,560.862854,133.463572,12.520490,685.218471,182.244469,136.907141,24.389077,98.153554
15,246.269991,247.476214,95.533020,401.514504,679.627834,837.239710,450.054229,1386.187406,1433.560467,414.919467,...,845.533026,4587.773689,575.078022,156.371831,12.821606,407.574382,193.279293,90.245238,25.108794,109.674541
16,247.138783,248.030200,100.639165,450.315717,688.295339,870.083798,471.152823,1457.653601,1513.771550,410.870700,...,861.851704,4809.061927,593.238408,179.977208,12.907953,298.985630,186.994749,90.245238,29.290418,105.080846
17,285.197610,250.729917,103.279765,423.824889,898.320609,1073.017190,491.386867,1476.484606,1596.446660,382.949604,...,917.863274,4985.855296,623.121955,192.670800,12.730271,236.659797,223.892877,90.245238,29.095587,102.421790
18,324.654240,250.820061,102.903518,417.863595,865.534879,1126.518666,511.488090,1522.221967,1616.866859,378.684677,...,995.214955,5176.505356,666.472148,227.224879,13.383767,181.404225,283.329604,90.245238,30.182606,115.134644
19,324.654240,262.323672,98.992643,421.975320,822.128675,1399.604240,527.817197,1499.289185,1655.740550,411.808364,...,1043.782477,5368.412199,771.474749,243.954300,12.919468,207.322033,308.673388,90.245238,31.214928,110.071773

In [50]:
prv_df.rename(columns ={'Bahamas, The' : 'Bahamas', 'Gambia, The': 'Gambia', 'United States': 'United States of America'}, inplace = True)
prv_df.rename(columns ={'St. Lucia' : 'Saint Lucia', 'Slovak Republic': 'Slovakia', 'Congo, Rep.': 'Congo'}, inplace = True)
prv_df.rename(columns ={'St. Vincent and the Grenadines' : 'Saint Vincent and the Grenadines', 'Venezuela, RB': 'Venezuela', 'Egypt, Arab Rep.': 'Egypt'}, inplace = True)
prv_df.rename(columns ={'Yemen, Rep.' : 'Yemen', 'Korea, Rep.': 'South Korea', 'Micronesia, Fed. Sts.': 'Micronesia'}, inplace = True)
prv_df.rename(columns ={'Iran, Islamic Rep.' : 'Iran', 'Congo, Dem. Rep.': 'Democratic Republic of the Congo', 'Lao PDR': "Lao People's Democratic Republic"}, inplace = True)

In [51]:
prv_df = prv_df.reindex(sorted(prv_df.columns), axis=1)
prv_df

,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,...,United Kingdom,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,166.587886,82.470888,25.878831,331.957375,483.060811,71.903971,230.013552,607.023422,699.662478,69.014415,...,443.270240,2526.432776,599.598497,97.242470,7.855590,466.437215,58.645748,63.527242,61.791769,88.689601
1,173.488161,79.906086,80.317512,359.239601,472.333157,73.995974,244.522889,658.532648,727.864695,73.329400,...,494.068030,2675.208154,589.768182,104.633003,8.134556,526.268513,85.078217,71.037946,51.515104,88.689601
2,187.681174,85.546225,74.881754,358.580742,361.273337,202.224577,257.327877,684.220277,779.808003,82.579356,...,520.078162,2916.091037,516.020466,109.274086,7.052958,460.022506,61.388392,74.435734,51.997816,88.689601
3,185.781196,83.906026,78.522735,390.681276,381.971001,226.348081,270.712496,734.122774,825.657313,87.476145,...,526.997704,3153.623495,481.385555,110.389614,9.745258,380.189043,71.298157,104.309845,63.355774,88.689601
4,188.587613,107.349803,93.130271,401.539441,370.058777,204.467457,285.347060,779.646424,918.929995,90.405325,...,532.235795,3335.752883,448.632446,113.023587,10.005014,379.384257,83.330052,114.225695,55.351392,88.689601
5,190.444952,113.021200,71.926707,447.357886,489.472463,201.800526,297.106766,800.348111,924.826728,89.079816,...,516.518793,3524.670812,534.985511,117.595322,10.301381,442.681601,89.422693,121.422192,57.061268,88.689601
6,197.691071,124.396674,58.131727,503.588797,537.725956,229.966102,317.413494,853.508891,974.967982,107.552215,...,537.135612,3669.603185,545.909859,123.746702,10.527905,532.012854,104.524826,135.178937,55.118931,88.689601
7,251.817070,141.824271,70.923134,552.553370,590.167397,242.596957,336.641103,861.820684,1022.668154,123.394040,...,614.006338,3853.464170,567.586238,136.244525,10.523468,629.689271,117.563570,153.685224,46.665122,88.689601
8,220.297523,148.579698,72.796990,529.223402,626.268452,395.155052,354.846590,912.359846,1054.997443,137.718828,...,616.730494,3885.769571,568.528001,147.489546,10.612665,683.438407,116.320260,154.906485,47.942985,88.689601
9,188.358081,198.173757,70.858830,422.392261,614.013965,451.668889,372.248918,959.149225,1138.122835,207.364828,...,599.626026,3942.707305,542.580027,162.672186,11.152097,843.961434,128.255866,177.038440,42.738731,88.689601
10,214.029095,204.316139,61.499454,460.673656,693.069158,540.808695,378.529851,991.628395,1187.845708,215.799702,...,642.665754,4033.856054,577.482236,147.499502,11.806884,710.292926,146.157737,161.168507,37.548253,88.689601
11,240.674171,208.809642,57.490534,476.226740,710.500681,594.501738,391.865204,1005.615985,1219.615076,217.468316,...,664.968126,4125.585967,598.112792,156.891583,11.804852,718.170060,156.621142,126.435125,32.633226,92.685875
12,266.937374,215.839952,57.843080,469.319129,714.807910,682.284493,404.830195,1086.891027,1288.652907,287.804307,...,715.009359,4267.848607,570.004779,167.714862,12.090694,659.225419,176.232461,131.676323,30.417391,91.678683
13,288.868714,228.005771,74.330777,452.352217,708.134927,859.046564,423.622108,1341.473459,1376.365074,336.259682,...,803.250514,4306.722107,565.666858,181.263802,12.182643,641.193395,171.961924,138.309837,29.095912,93.752333
14,322.360596,238.005123,84.966779,456.597948,648.651098,854.852406,435.875723,1391.444573,1396.829004,387.514414,...,823.988499,4407.979182,560.862854,133.463572,12.520490,685.218471,182.244469,136.907141,24.389077,98.153554
15,246.269991,247.476214,95.533020,401.514504,679.627834,837.239710,450.054229,1386.187406,1433.560467,414.919467,...,845.533026,4587.773689,575.078022,156.371831,12.821606,407.574382,193.279293,90.245238,25.108794,109.674541
16,247.138783,248.030200,100.639165,450.315717,688.295339,870.083798,471.152823,1457.653601,1513.771550,410.870700,...,861.851704,4809.061927,593.238408,179.977208,12.907953,298.985630,186.994749,90.245238,29.290418,105.080846
17,285.197610,250.729917,103.279765,423.824889,898.320609,1073.017190,491.386867,1476.484606,1596.446660,382.949604,...,917.863274,4985.855296,623.121955,192.670800,12.730271,236.659797,223.892877,90.245238,29.095587,102.421790
18,324.654240,250.820061,102.903518,417.863595,865.534879,1126.518666,511.488090,1522.221967,1616.866859,378.684677,...,995.214955,5176.505356,666.472148,227.224879,13.383767,181.404225,283.329604,90.245238,30.182606,115.134644
19,324.654240,262.323672,98.992643,421.975320,822.128675,1399.604240,527.817197,1499.289185,1655.740550,411.808364,...,1043.782477,5368.412199,771.474749,243.954300,12.919468,207.322033,308.673388,90.245238,31.214928,110.071773

In [52]:
prv_df2 = prv_df.T
prv_df2 
#prv_df2.to_csv("../Clean_Data/Supervised_Machine_Learning_Data/private_expenditure_transformed.csv")#

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Albania,166.587886,173.488161,187.681174,185.781196,188.587613,190.444952,197.691071,251.817070,220.297523,188.358081,214.029095,240.674171,266.937374,288.868714,322.360596,246.269991,247.138783,285.197610,324.654240,324.654240
Algeria,82.470888,79.906086,85.546225,83.906026,107.349803,113.021200,124.396674,141.824271,148.579698,198.173757,204.316139,208.809642,215.839952,228.005771,238.005123,247.476214,248.030200,250.729917,250.820061,262.323672
Angola,25.878831,80.317512,74.881754,78.522735,93.130271,71.926707,58.131727,70.923134,72.796990,70.858830,61.499454,57.490534,57.843080,74.330777,84.966779,95.533020,100.639165,103.279765,102.903518,98.992643
Antigua and Barbuda,331.957375,359.239601,358.580742,390.681276,401.539441,447.357886,503.588797,552.553370,529.223402,422.392261,460.673656,476.226740,469.319129,452.352217,456.597948,401.514504,450.315717,423.824889,417.863595,421.975320
Argentina,483.060811,472.333157,361.273337,381.971001,370.058777,489.472463,537.725956,590.167397,626.268452,614.013965,693.069158,710.500681,714.807910,708.134927,648.651098,679.627834,688.295339,898.320609,865.534879,822.128675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,466.437215,526.268513,460.022506,380.189043,379.384257,442.681601,532.012854,629.689271,683.438407,843.961434,710.292926,718.170060,659.225419,641.193395,685.218471,407.574382,298.985630,236.659797,181.404225,207.322033
Vietnam,58.645748,85.078217,61.388392,71.298157,83.330052,89.422693,104.524826,117.563570,116.320260,128.255866,146.157737,156.621142,176.232461,171.961924,182.244469,193.279293,186.994749,223.892877,283.329604,308.673388
Yemen,63.527242,71.037946,74.435734,104.309845,114.225695,121.422192,135.178937,153.685224,154.906485,177.038440,161.168507,126.435125,131.676323,138.309837,136.907141,90.245238,90.245238,90.245238,90.245238,90.245238
Zambia,61.791769,51.515104,51.997816,63.355774,55.351392,57.061268,55.118931,46.665122,47.942985,42.738731,37.548253,32.633226,30.417391,29.095912,24.389077,25.108794,29.290418,29.095587,30.182606,31.214928
Zimbabwe,88.689601,88.689601,88.689601,88.689601,88.689601,88.689601,88.689601,88.689601,88.689601,88.689601,88.689601,92.685875,91.678683,93.752333,98.153554,109.674541,105.080846,102.421790,115.134644,110.071773

In [53]:
for country in country_list:
    if (country not in prv_df.columns):
        print (country)

In [54]:
for country in prv_df.columns:
    if (country not in country_list):
        print (country)

In [55]:
prv = prv_df2.values.ravel()
prv

array([166.5878859, 173.4881614, 187.6811743, ..., 102.4217899,
       115.1346444, 110.0717733])

In [56]:
ml_df['Private Expenditure per Capita'] = prv.tolist()
ml_df

,Life Expectancy,Alcohol Consumption,Tobacco Consumption,GDP per Capita,Goverment Expenditure per Capita,Private Expenditure per Capita
Albania 2000,73.96,6.570,35.00,1960.881946,105.456830,166.587886
Albania 2001,74.29,6.786,34.26,2143.526278,115.797918,173.488161
Albania 2002,74.58,7.002,33.52,2247.497491,117.765888,187.681174
Albania 2003,74.83,7.218,32.78,2380.643997,130.028157,185.781196
Albania 2004,75.04,7.434,32.04,2522.448714,149.138456,188.587613
...,...,...,...,...,...,...
Zimbabwe 2015,59.53,4.920,13.60,1410.329174,41.568815,109.674541
Zimbabwe 2016,60.29,4.920,13.10,1393.717011,50.205993,105.080846
Zimbabwe 2017,60.81,4.670,12.60,1421.24077,54.333036,102.421790
Zimbabwe 2018,61.20,4.670,12.10,1462.59028,86.310014,115.134644
Zimbabwe 2019,61.49,4.670,12.10,1342.989587,36.746649,110.071773

In [57]:
#male_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/male_survival.csv")
male_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/male_survival_transformed.csv")
male_df

,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,...,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,"Venezuela, RB",Vietnam,"Yemen, Rep.",Zambia,Zimbabwe
0,80.135436,72.854115,32.511353,75.203484,72.570527,65.288338,73.629297,84.879325,80.807417,55.302202,...,82.510208,78.377807,72.004614,58.192591,65.909811,71.811351,69.341048,58.295372,26.072289,16.990798
1,80.533022,73.716491,32.265519,75.884001,72.839910,65.556263,73.873112,85.266528,81.646680,56.432456,...,82.874860,78.507907,72.569199,58.692132,66.149732,68.778024,69.592943,59.348474,26.742319,14.019486
2,80.955791,74.538624,34.188910,76.801396,72.813219,65.548752,74.045928,85.746027,81.967865,58.152059,...,83.045765,78.537802,73.167079,59.646078,66.593790,71.724089,69.748606,60.467579,27.997427,17.380028
3,81.334282,75.217467,38.358926,77.159355,72.931453,65.854419,74.217495,86.086290,82.140178,59.127715,...,83.314375,78.674616,73.755684,60.267536,66.721595,69.898203,69.975951,61.458539,29.375498,16.542166
4,81.710231,75.940820,39.620626,77.737794,74.178875,66.204768,73.668829,86.452861,82.512272,60.520778,...,84.030553,79.213754,74.285693,60.534084,66.860437,70.934775,70.152609,62.408611,31.343871,17.872483
5,82.009211,76.518745,40.856720,77.467203,74.448597,66.369138,74.321960,86.748269,82.752620,60.923525,...,84.366557,79.110897,74.711762,61.113358,67.077111,71.043412,70.485403,63.234183,32.941778,18.816963
6,82.234300,76.927154,41.551956,77.147339,75.089476,66.656978,75.135776,87.104641,83.484839,62.149051,...,84.347087,79.406502,75.040844,61.969043,67.323484,70.355879,70.519101,63.558135,34.457958,19.786890
7,83.333917,77.814889,44.636624,77.727665,75.426685,67.117486,74.988569,87.435193,84.080628,63.945038,...,84.952265,79.962585,75.466266,63.390400,67.742627,68.718476,70.515865,65.477784,37.363713,22.731870
8,83.361624,77.237930,43.254830,77.503245,74.045151,67.380006,75.947768,86.926890,83.712215,62.989098,...,84.683433,79.752684,75.278182,62.472877,67.558916,70.521845,70.659791,64.605107,35.742028,21.029755
9,83.416926,78.752864,45.946454,78.043193,76.122828,67.615341,75.809666,87.492048,83.518212,64.639340,...,85.431861,80.290213,75.625110,63.325284,67.924024,68.818966,70.762471,65.371989,40.275575,24.624496
10,83.528756,79.362624,46.986003,78.161358,75.807744,68.352688,76.782576,87.980749,83.880746,65.248073,...,85.821332,80.706209,75.791095,64.219486,67.893614,69.303603,70.805396,65.464226,42.377163,28.732649
11,83.652918,79.785149,49.374110,78.784542,76.496460,69.214302,77.413382,88.453262,85.040095,66.736984,...,86.754070,80.725484,76.199706,65.453765,67.609801,68.916251,71.191330,65.750796,46.573908,36.971638
12,83.691074,79.825681,48.157946,78.503223,76.340207,68.316841,77.078281,87.946272,84.595909,66.101920,...,86.337023,80.710977,75.980253,65.031127,67.695018,69.192585,71.166272,65.874716,44.322967,32.985712
13,83.707429,80.548538,50.236514,79.047390,76.625409,69.213254,77.564052,88.457748,85.418594,68.012257,...,86.611810,80.664948,76.454616,65.218403,67.632991,69.436928,71.348633,66.315545,48.763250,40.360086
14,84.249494,81.194550,51.161812,79.448309,77.340021,69.594640,77.852705,88.323313,86.015968,68.777928,...,86.813811,80.550424,76.749115,65.779529,67.675767,68.576492,71.446922,65.874721,50.094576,43.285209
15,84.678267,82.114127,52.005843,79.924921,77.188329,70.401364,78.180720,88.182093,86.059031,69.249612,...,86.663826,80.251341,77.079425,66.454221,67.702782,68.867666,71.423140,61.186114,50.871620,44.734556
16,85.052413,82.432133,52.774308,80.386605,76.650249,70.574171,78.313225,88.513384,86.661851,69.870729,...,86.653361,79.848681,77.403554,67.307158,67.781462,66.330104,71.466982,61.819511,52.083561,45.829358
17,85.445310,82.431970,53.741529,80.772774,77.726762,71.124870,78.850990,88.702175,87.035216,70.925436,...,86.812113,79.779206,77.667025,67.848705,67.650439,66.744879,71.620989,61.386782,52.420614,46.191019
18,85.765544,82.779790,53.916247,81.258541,77.969309,71.286835,79.375930,88.827328,87.028248,72.377426,...,86.639493,79.931689,77.770208,68.324846,67.823748,66.538065,71.579400,56.958525,52.972947,47.657356
19,86.047386,83.123122,54.494128,81.738690,78.412194,72.177495,79.775203,88.147374,87.575718,73.381106,...,87.254620,79.977234,77.616203,68.953819,67.831073,66.907071,71.804559,58.778173,53.729942,46.791842

In [58]:
male_df.rename(columns ={'Bahamas, The' : 'Bahamas', 'Gambia, The': 'Gambia', 'United States': 'United States of America'}, inplace = True)
male_df.rename(columns ={'St. Lucia' : 'Saint Lucia', 'Slovak Republic': 'Slovakia', 'Congo, Rep.': 'Congo'}, inplace = True)
male_df.rename(columns ={'St. Vincent and the Grenadines' : 'Saint Vincent and the Grenadines', 'Venezuela, RB': 'Venezuela', 'Egypt, Arab Rep.': 'Egypt'}, inplace = True)
male_df.rename(columns ={'Yemen, Rep.' : 'Yemen', 'Korea, Rep.': 'South Korea', 'Micronesia, Fed. Sts.': 'Micronesia'}, inplace = True)
male_df.rename(columns ={'Iran, Islamic Rep.' : 'Iran', 'Congo, Dem. Rep.': 'Democratic Republic of the Congo', 'Lao PDR': "Lao People's Democratic Republic"}, inplace = True)

In [59]:
male_df = male_df.reindex(sorted(male_df.columns), axis=1)
male_df

,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,...,United Kingdom,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,80.135436,72.854115,32.511353,75.203484,72.570527,65.288338,73.629297,84.879325,80.807417,55.302202,...,82.510208,78.377807,72.004614,58.192591,65.909811,71.811351,69.341048,58.295372,26.072289,16.990798
1,80.533022,73.716491,32.265519,75.884001,72.839910,65.556263,73.873112,85.266528,81.646680,56.432456,...,82.874860,78.507907,72.569199,58.692132,66.149732,68.778024,69.592943,59.348474,26.742319,14.019486
2,80.955791,74.538624,34.188910,76.801396,72.813219,65.548752,74.045928,85.746027,81.967865,58.152059,...,83.045765,78.537802,73.167079,59.646078,66.593790,71.724089,69.748606,60.467579,27.997427,17.380028
3,81.334282,75.217467,38.358926,77.159355,72.931453,65.854419,74.217495,86.086290,82.140178,59.127715,...,83.314375,78.674616,73.755684,60.267536,66.721595,69.898203,69.975951,61.458539,29.375498,16.542166
4,81.710231,75.940820,39.620626,77.737794,74.178875,66.204768,73.668829,86.452861,82.512272,60.520778,...,84.030553,79.213754,74.285693,60.534084,66.860437,70.934775,70.152609,62.408611,31.343871,17.872483
5,82.009211,76.518745,40.856720,77.467203,74.448597,66.369138,74.321960,86.748269,82.752620,60.923525,...,84.366557,79.110897,74.711762,61.113358,67.077111,71.043412,70.485403,63.234183,32.941778,18.816963
6,82.234300,76.927154,41.551956,77.147339,75.089476,66.656978,75.135776,87.104641,83.484839,62.149051,...,84.347087,79.406502,75.040844,61.969043,67.323484,70.355879,70.519101,63.558135,34.457958,19.786890
7,83.333917,77.814889,44.636624,77.727665,75.426685,67.117486,74.988569,87.435193,84.080628,63.945038,...,84.952265,79.962585,75.466266,63.390400,67.742627,68.718476,70.515865,65.477784,37.363713,22.731870
8,83.361624,77.237930,43.254830,77.503245,74.045151,67.380006,75.947768,86.926890,83.712215,62.989098,...,84.683433,79.752684,75.278182,62.472877,67.558916,70.521845,70.659791,64.605107,35.742028,21.029755
9,83.416926,78.752864,45.946454,78.043193,76.122828,67.615341,75.809666,87.492048,83.518212,64.639340,...,85.431861,80.290213,75.625110,63.325284,67.924024,68.818966,70.762471,65.371989,40.275575,24.624496
10,83.528756,79.362624,46.986003,78.161358,75.807744,68.352688,76.782576,87.980749,83.880746,65.248073,...,85.821332,80.706209,75.791095,64.219486,67.893614,69.303603,70.805396,65.464226,42.377163,28.732649
11,83.652918,79.785149,49.374110,78.784542,76.496460,69.214302,77.413382,88.453262,85.040095,66.736984,...,86.754070,80.725484,76.199706,65.453765,67.609801,68.916251,71.191330,65.750796,46.573908,36.971638
12,83.691074,79.825681,48.157946,78.503223,76.340207,68.316841,77.078281,87.946272,84.595909,66.101920,...,86.337023,80.710977,75.980253,65.031127,67.695018,69.192585,71.166272,65.874716,44.322967,32.985712
13,83.707429,80.548538,50.236514,79.047390,76.625409,69.213254,77.564052,88.457748,85.418594,68.012257,...,86.611810,80.664948,76.454616,65.218403,67.632991,69.436928,71.348633,66.315545,48.763250,40.360086
14,84.249494,81.194550,51.161812,79.448309,77.340021,69.594640,77.852705,88.323313,86.015968,68.777928,...,86.813811,80.550424,76.749115,65.779529,67.675767,68.576492,71.446922,65.874721,50.094576,43.285209
15,84.678267,82.114127,52.005843,79.924921,77.188329,70.401364,78.180720,88.182093,86.059031,69.249612,...,86.663826,80.251341,77.079425,66.454221,67.702782,68.867666,71.423140,61.186114,50.871620,44.734556
16,85.052413,82.432133,52.774308,80.386605,76.650249,70.574171,78.313225,88.513384,86.661851,69.870729,...,86.653361,79.848681,77.403554,67.307158,67.781462,66.330104,71.466982,61.819511,52.083561,45.829358
17,85.445310,82.431970,53.741529,80.772774,77.726762,71.124870,78.850990,88.702175,87.035216,70.925436,...,86.812113,79.779206,77.667025,67.848705,67.650439,66.744879,71.620989,61.386782,52.420614,46.191019
18,85.765544,82.779790,53.916247,81.258541,77.969309,71.286835,79.375930,88.827328,87.028248,72.377426,...,86.639493,79.931689,77.770208,68.324846,67.823748,66.538065,71.579400,56.958525,52.972947,47.657356
19,86.047386,83.123122,54.494128,81.738690,78.412194,72.177495,79.775203,88.147374,87.575718,73.381106,...,87.254620,79.977234,77.616203,68.953819,67.831073,66.907071,71.804559,58.778173,53.729942,46.791842

In [60]:
male_df2 = male_df.T
male_df2 
#male_df2.to_csv("../Clean_Data/Supervised_Machine_Learning_Data/male_survival_transformed.csv")

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Albania,80.135436,80.533022,80.955791,81.334282,81.710231,82.009211,82.234300,83.333917,83.361624,83.416926,83.528756,83.652918,83.691074,83.707429,84.249494,84.678267,85.052413,85.445310,85.765544,86.047386
Algeria,72.854115,73.716491,74.538624,75.217467,75.940820,76.518745,76.927154,77.814889,77.237930,78.752864,79.362624,79.785149,79.825681,80.548538,81.194550,82.114127,82.432133,82.431970,82.779790,83.123122
Angola,32.511353,32.265519,34.188910,38.358926,39.620626,40.856720,41.551956,44.636624,43.254830,45.946454,46.986003,49.374110,48.157946,50.236514,51.161812,52.005843,52.774308,53.741529,53.916247,54.494128
Antigua and Barbuda,75.203484,75.884001,76.801396,77.159355,77.737794,77.467203,77.147339,77.727665,77.503245,78.043193,78.161358,78.784542,78.503223,79.047390,79.448309,79.924921,80.386605,80.772774,81.258541,81.738690
Argentina,72.570527,72.839910,72.813219,72.931453,74.178875,74.448597,75.089476,75.426685,74.045151,76.122828,75.807744,76.496460,76.340207,76.625409,77.340021,77.188329,76.650249,77.726762,77.969309,78.412194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,71.811351,68.778024,71.724089,69.898203,70.934775,71.043412,70.355879,68.718476,70.521845,68.818966,69.303603,68.916251,69.192585,69.436928,68.576492,68.867666,66.330104,66.744879,66.538065,66.907071
Vietnam,69.341048,69.592943,69.748606,69.975951,70.152609,70.485403,70.519101,70.515865,70.659791,70.762471,70.805396,71.191330,71.166272,71.348633,71.446922,71.423140,71.466982,71.620989,71.579400,71.804559
Yemen,58.295372,59.348474,60.467579,61.458539,62.408611,63.234183,63.558135,65.477784,64.605107,65.371989,65.464226,65.750796,65.874716,66.315545,65.874721,61.186114,61.819511,61.386782,56.958525,58.778173
Zambia,26.072289,26.742319,27.997427,29.375498,31.343871,32.941778,34.457958,37.363713,35.742028,40.275575,42.377163,46.573908,44.322967,48.763250,50.094576,50.871620,52.083561,52.420614,52.972947,53.729942
Zimbabwe,16.990798,14.019486,17.380028,16.542166,17.872483,18.816963,19.786890,22.731870,21.029755,24.624496,28.732649,36.971638,32.985712,40.360086,43.285209,44.734556,45.829358,46.191019,47.657356,46.791842

In [61]:
for country in country_list:
    if (country not in male_df.columns):
        print (country)

In [62]:
for country in male_df.columns:
    if (country not in country_list):
        print (country)

In [63]:
male = male_df2.values.ravel()
male

array([80.135436, 80.533022, 80.955791, ..., 46.191019, 47.657356,
       46.791842])

In [64]:
#ml_df['Male Survival'] = male.tolist()
#ml_df

In [65]:
#female_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/female_survival.csv")
female_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/female_survival_transformed.csv")
female_df

,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,...,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,"Venezuela, RB",Vietnam,"Yemen, Rep.",Zambia,Zimbabwe
0,88.478474,78.396300,42.199881,84.908898,83.594111,81.760427,85.125912,91.023514,90.210552,73.844360,...,88.874827,86.515621,85.589001,72.376360,76.336304,83.833134,85.079507,66.936779,30.359877,24.107362
1,88.702437,78.906033,43.697438,85.502415,84.005251,82.354850,85.198948,91.378199,90.534841,74.688107,...,89.099059,86.546664,85.772753,72.915252,76.381526,82.547033,85.311671,67.902214,31.175426,16.862963
2,88.931823,79.535380,43.958905,85.827722,84.557491,82.493791,85.325168,91.232211,90.956781,75.473301,...,89.304086,86.659299,85.961583,73.667512,76.543015,84.125894,85.544018,69.012095,31.685862,22.422595
3,89.207822,79.119353,46.592696,85.305719,83.555312,83.415087,85.301907,91.619730,90.531312,76.145788,...,89.330134,86.699123,86.152783,74.399689,76.755270,83.418294,85.796361,70.076854,33.814219,19.352390
4,89.429396,80.130370,47.957454,85.226284,84.546940,83.036557,85.267086,91.892235,90.987929,76.806597,...,89.780492,87.053591,86.322326,75.160008,76.811619,83.971933,86.027898,70.468262,34.943917,22.025720
5,89.720696,80.605999,49.252335,85.686946,85.035419,83.961157,85.434331,92.088322,91.167247,77.052022,...,89.916116,87.099775,86.449055,74.600018,76.926246,84.379438,86.105762,71.371402,36.744752,22.372517
6,89.951919,81.134565,50.397687,85.638162,85.245892,84.279666,85.431315,92.172933,91.701936,78.028093,...,90.013318,87.271537,86.570639,74.997847,77.051375,84.578469,86.181712,72.390456,38.741674,24.029163
7,90.489027,81.727481,52.275717,86.102663,85.017297,84.707918,85.363252,92.110197,91.636882,78.771559,...,90.170912,87.546887,86.659186,75.678813,77.249893,85.003902,86.365324,73.304573,40.601630,24.145536
8,90.674431,82.294877,53.362107,86.439586,85.503738,85.050762,85.977124,92.441427,91.803763,78.718545,...,90.215967,87.649289,86.748863,76.287857,77.366790,84.403542,86.390444,73.662516,43.403826,27.027472
9,90.786980,83.453447,55.220367,86.652782,85.687583,85.797695,86.527675,92.411787,91.612205,79.989498,...,90.555812,87.754436,86.846098,76.389914,77.468627,84.358868,86.422670,74.408732,45.999472,30.206498
10,90.915722,83.579581,56.778003,86.766728,85.455765,86.168060,87.981942,92.721864,91.690105,80.106123,...,90.711675,88.066423,86.970243,76.721118,77.356476,84.497169,86.424802,74.487918,50.082211,35.407287
11,90.957096,84.594920,59.682945,87.309231,86.783177,86.270540,88.081461,92.875853,92.096221,81.755173,...,91.146196,88.081335,87.260487,77.818797,77.221429,84.729755,86.604740,74.522002,55.168559,46.186984
12,91.017269,84.164436,57.870249,87.043030,86.043442,86.521892,88.038063,92.698684,91.923139,80.966510,...,90.986844,88.028523,87.115429,77.394970,77.350955,84.363552,86.596482,74.663484,52.415273,41.977238
13,91.074404,85.168847,60.534332,87.609622,86.836919,86.833774,88.374219,92.829495,92.268483,82.504700,...,91.249199,88.041672,87.384396,78.515899,77.352108,84.592695,86.667913,74.731151,57.172413,49.630847
14,91.354952,86.038809,61.723907,87.984271,87.020073,87.583172,88.272603,92.836883,92.171730,82.743358,...,91.272054,87.886847,87.468076,79.120028,76.994980,84.289299,86.804184,74.572377,59.350771,52.195667
15,91.512091,86.476312,62.671834,87.921824,87.294176,87.990910,88.398779,92.947333,92.415348,83.277372,...,91.251009,87.755129,87.489249,79.523717,77.028459,84.468131,86.876827,73.590847,61.087586,53.853432
16,91.693973,86.482094,63.007390,88.290235,86.855301,88.444430,88.316514,93.074736,92.618877,84.339070,...,91.096972,87.547378,87.451752,79.912939,77.262648,83.822856,86.984881,73.651982,62.355434,55.326969
17,91.825147,86.528722,63.949981,88.462171,87.388787,88.682591,88.720346,93.192146,92.833073,84.174116,...,91.369751,87.555210,87.433623,80.423386,77.457167,83.037125,86.942560,73.668680,63.538476,56.396584
18,91.939293,86.974820,65.186505,88.902700,87.744382,88.967844,88.851646,93.234961,92.823711,84.487136,...,91.210897,87.735705,87.483287,80.553624,77.449258,83.333790,87.009594,73.003868,64.420318,57.579551
19,91.975256,87.588920,65.323119,89.224613,88.200580,89.283305,89.079338,92.968392,93.073777,84.629933,...,91.497010,87.799779,87.673209,80.699872,77.575293,83.607734,87.140526,73.070303,65.551864,57.729252

In [66]:
female_df.rename(columns ={'Bahamas, The' : 'Bahamas', 'Gambia, The': 'Gambia', 'United States': 'United States of America'}, inplace = True)
female_df.rename(columns ={'St. Lucia' : 'Saint Lucia', 'Slovak Republic': 'Slovakia', 'Congo, Rep.': 'Congo'}, inplace = True)
female_df.rename(columns ={'St. Vincent and the Grenadines' : 'Saint Vincent and the Grenadines', 'Venezuela, RB': 'Venezuela', 'Egypt, Arab Rep.': 'Egypt'}, inplace = True)
female_df.rename(columns ={'Yemen, Rep.' : 'Yemen', 'Korea, Rep.': 'South Korea', 'Micronesia, Fed. Sts.': 'Micronesia'}, inplace = True)
female_df.rename(columns ={'Iran, Islamic Rep.' : 'Iran', 'Congo, Dem. Rep.': 'Democratic Republic of the Congo', 'Lao PDR': "Lao People's Democratic Republic"}, inplace = True)

In [67]:
female_df = female_df.reindex(sorted(female_df.columns), axis=1)
female_df

,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,...,United Kingdom,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,88.478474,78.396300,42.199881,84.908898,83.594111,81.760427,85.125912,91.023514,90.210552,73.844360,...,88.874827,86.515621,85.589001,72.376360,76.336304,83.833134,85.079507,66.936779,30.359877,24.107362
1,88.702437,78.906033,43.697438,85.502415,84.005251,82.354850,85.198948,91.378199,90.534841,74.688107,...,89.099059,86.546664,85.772753,72.915252,76.381526,82.547033,85.311671,67.902214,31.175426,16.862963
2,88.931823,79.535380,43.958905,85.827722,84.557491,82.493791,85.325168,91.232211,90.956781,75.473301,...,89.304086,86.659299,85.961583,73.667512,76.543015,84.125894,85.544018,69.012095,31.685862,22.422595
3,89.207822,79.119353,46.592696,85.305719,83.555312,83.415087,85.301907,91.619730,90.531312,76.145788,...,89.330134,86.699123,86.152783,74.399689,76.755270,83.418294,85.796361,70.076854,33.814219,19.352390
4,89.429396,80.130370,47.957454,85.226284,84.546940,83.036557,85.267086,91.892235,90.987929,76.806597,...,89.780492,87.053591,86.322326,75.160008,76.811619,83.971933,86.027898,70.468262,34.943917,22.025720
5,89.720696,80.605999,49.252335,85.686946,85.035419,83.961157,85.434331,92.088322,91.167247,77.052022,...,89.916116,87.099775,86.449055,74.600018,76.926246,84.379438,86.105762,71.371402,36.744752,22.372517
6,89.951919,81.134565,50.397687,85.638162,85.245892,84.279666,85.431315,92.172933,91.701936,78.028093,...,90.013318,87.271537,86.570639,74.997847,77.051375,84.578469,86.181712,72.390456,38.741674,24.029163
7,90.489027,81.727481,52.275717,86.102663,85.017297,84.707918,85.363252,92.110197,91.636882,78.771559,...,90.170912,87.546887,86.659186,75.678813,77.249893,85.003902,86.365324,73.304573,40.601630,24.145536
8,90.674431,82.294877,53.362107,86.439586,85.503738,85.050762,85.977124,92.441427,91.803763,78.718545,...,90.215967,87.649289,86.748863,76.287857,77.366790,84.403542,86.390444,73.662516,43.403826,27.027472
9,90.786980,83.453447,55.220367,86.652782,85.687583,85.797695,86.527675,92.411787,91.612205,79.989498,...,90.555812,87.754436,86.846098,76.389914,77.468627,84.358868,86.422670,74.408732,45.999472,30.206498
10,90.915722,83.579581,56.778003,86.766728,85.455765,86.168060,87.981942,92.721864,91.690105,80.106123,...,90.711675,88.066423,86.970243,76.721118,77.356476,84.497169,86.424802,74.487918,50.082211,35.407287
11,90.957096,84.594920,59.682945,87.309231,86.783177,86.270540,88.081461,92.875853,92.096221,81.755173,...,91.146196,88.081335,87.260487,77.818797,77.221429,84.729755,86.604740,74.522002,55.168559,46.186984
12,91.017269,84.164436,57.870249,87.043030,86.043442,86.521892,88.038063,92.698684,91.923139,80.966510,...,90.986844,88.028523,87.115429,77.394970,77.350955,84.363552,86.596482,74.663484,52.415273,41.977238
13,91.074404,85.168847,60.534332,87.609622,86.836919,86.833774,88.374219,92.829495,92.268483,82.504700,...,91.249199,88.041672,87.384396,78.515899,77.352108,84.592695,86.667913,74.731151,57.172413,49.630847
14,91.354952,86.038809,61.723907,87.984271,87.020073,87.583172,88.272603,92.836883,92.171730,82.743358,...,91.272054,87.886847,87.468076,79.120028,76.994980,84.289299,86.804184,74.572377,59.350771,52.195667
15,91.512091,86.476312,62.671834,87.921824,87.294176,87.990910,88.398779,92.947333,92.415348,83.277372,...,91.251009,87.755129,87.489249,79.523717,77.028459,84.468131,86.876827,73.590847,61.087586,53.853432
16,91.693973,86.482094,63.007390,88.290235,86.855301,88.444430,88.316514,93.074736,92.618877,84.339070,...,91.096972,87.547378,87.451752,79.912939,77.262648,83.822856,86.984881,73.651982,62.355434,55.326969
17,91.825147,86.528722,63.949981,88.462171,87.388787,88.682591,88.720346,93.192146,92.833073,84.174116,...,91.369751,87.555210,87.433623,80.423386,77.457167,83.037125,86.942560,73.668680,63.538476,56.396584
18,91.939293,86.974820,65.186505,88.902700,87.744382,88.967844,88.851646,93.234961,92.823711,84.487136,...,91.210897,87.735705,87.483287,80.553624,77.449258,83.333790,87.009594,73.003868,64.420318,57.579551
19,91.975256,87.588920,65.323119,89.224613,88.200580,89.283305,89.079338,92.968392,93.073777,84.629933,...,91.497010,87.799779,87.673209,80.699872,77.575293,83.607734,87.140526,73.070303,65.551864,57.729252

In [68]:
female_df2 = female_df.T
female_df2 
#female_df2.to_csv("../Clean_Data/Supervised_Machine_Learning_Data/female_survival_transformed.csv")

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Albania,88.478474,88.702437,88.931823,89.207822,89.429396,89.720696,89.951919,90.489027,90.674431,90.786980,90.915722,90.957096,91.017269,91.074404,91.354952,91.512091,91.693973,91.825147,91.939293,91.975256
Algeria,78.396300,78.906033,79.535380,79.119353,80.130370,80.605999,81.134565,81.727481,82.294877,83.453447,83.579581,84.594920,84.164436,85.168847,86.038809,86.476312,86.482094,86.528722,86.974820,87.588920
Angola,42.199881,43.697438,43.958905,46.592696,47.957454,49.252335,50.397687,52.275717,53.362107,55.220367,56.778003,59.682945,57.870249,60.534332,61.723907,62.671834,63.007390,63.949981,65.186505,65.323119
Antigua and Barbuda,84.908898,85.502415,85.827722,85.305719,85.226284,85.686946,85.638162,86.102663,86.439586,86.652782,86.766728,87.309231,87.043030,87.609622,87.984271,87.921824,88.290235,88.462171,88.902700,89.224613
Argentina,83.594111,84.005251,84.557491,83.555312,84.546940,85.035419,85.245892,85.017297,85.503738,85.687583,85.455765,86.783177,86.043442,86.836919,87.020073,87.294176,86.855301,87.388787,87.744382,88.200580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,83.833134,82.547033,84.125894,83.418294,83.971933,84.379438,84.578469,85.003902,84.403542,84.358868,84.497169,84.729755,84.363552,84.592695,84.289299,84.468131,83.822856,83.037125,83.333790,83.607734
Vietnam,85.079507,85.311671,85.544018,85.796361,86.027898,86.105762,86.181712,86.365324,86.390444,86.422670,86.424802,86.604740,86.596482,86.667913,86.804184,86.876827,86.984881,86.942560,87.009594,87.140526
Yemen,66.936779,67.902214,69.012095,70.076854,70.468262,71.371402,72.390456,73.304573,73.662516,74.408732,74.487918,74.522002,74.663484,74.731151,74.572377,73.590847,73.651982,73.668680,73.003868,73.070303
Zambia,30.359877,31.175426,31.685862,33.814219,34.943917,36.744752,38.741674,40.601630,43.403826,45.999472,50.082211,55.168559,52.415273,57.172413,59.350771,61.087586,62.355434,63.538476,64.420318,65.551864
Zimbabwe,24.107362,16.862963,22.422595,19.352390,22.025720,22.372517,24.029163,24.145536,27.027472,30.206498,35.407287,46.186984,41.977238,49.630847,52.195667,53.853432,55.326969,56.396584,57.579551,57.729252

In [69]:
for country in country_list:
    if (country not in female_df.columns):
        print (country)

In [70]:
for country in female_df.columns:
    if (country not in country_list):
        print (country)

In [71]:
female = female_df2.values.ravel()
female

array([88.478474, 88.702437, 88.931823, ..., 56.396584, 57.579551,
       57.729252])

In [72]:
#ml_df['Female Survival'] = female.tolist()
#ml_df

In [73]:
ss_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/country_social_security_systems-coded.csv")
#ss_df = pd.read_csv("../Clean_Data/Supervised_Machine_Learning_Data/female_survival_transformed.csv")
ss_df

,country,sss_depth,system_type
0,Albania,2,"['Universal medical benefits','Social insuranc..."
1,Algeria,1,['Social insurance system']
2,Angola,3,"['Universal medical benefits','Social insuranc..."
3,Antigua and Barbuda,1,['Social insurance system']
4,Argentina,3,"['Universal medical benefits','Social insuranc..."
...,...,...,...
164,Venezuela,2,['Universal (birth grant and medical benefits)...
165,Vietnam,1,['Social insurance system']
166,Yemen,2,"['Universal medical benefits','Employer-liabil..."
167,Zambia,2,"['Universal medical benefits','Employer-liabil..."
168,Zimbabwe,1,['Employer-liability system (cash sickness and...

In [74]:
ss_df.rename(columns ={'Bahamas, The' : 'Bahamas', 'Gambia, The': 'Gambia', 'United States': 'United States of America'}, inplace = True)
ss_df.rename(columns ={'St. Lucia' : 'Saint Lucia', 'Slovak Republic': 'Slovakia', 'Congo, Rep.': 'Congo'}, inplace = True)
ss_df.rename(columns ={'St. Vincent and the Grenadines' : 'Saint Vincent and the Grenadines', 'Venezuela, RB': 'Venezuela', 'Egypt, Arab Rep.': 'Egypt'}, inplace = True)
ss_df.rename(columns ={'Yemen, Rep.' : 'Yemen', 'Korea, Rep.': 'South Korea', 'Micronesia, Fed. Sts.': 'Micronesia'}, inplace = True)
ss_df.rename(columns ={'Iran, Islamic Rep.' : 'Iran', 'Congo, Dem. Rep.': 'Democratic Republic of the Congo', 'Lao PDR': "Lao People's Democratic Republic"}, inplace = True)

In [75]:
ss_df.columns

Index(['country', 'sss_depth', 'system_type'], dtype='object')

In [76]:
for country in country_list:
    if (country not in ss_df['country']):
        print (country)

Albania
Algeria
Angola
Antigua and Barbuda
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bhutan
Bolivia
Botswana
Brazil
Brunei Darussalam
Bulgaria
Burkina Faso
Burundi
Cabo Verde
Cambodia
Cameroon
Canada
Central African Republic
Chad
Chile
China
Colombia
Congo
Costa Rica
Cote d'Ivoire
Croatia
Cuba
Cyprus
Czechia
Democratic Republic of the Congo
Denmark
Djibouti
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Estonia
Eswatini
Ethiopia
Fiji
Finland
France
Gabon
Gambia
Georgia
Germany
Ghana
Greece
Grenada
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Honduras
Hungary
Iceland
India
Indonesia
Iran
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Kuwait
Kyrgyz Republic
Lao People's Democratic Republic
Latvia
Lebanon
Lesotho
Liberia
Libya
Lithuania
Luxembourg
Madagascar
Malawi
Malaysia
Mali
Malta
Mauritania
Mauritius
Mexico
Micronesia
Moldova
Morocco
Mozambique
Myanmar
Namibia
Nepal
Netherlands
New Zealand
Nicaragua
Niger
Nigeria
North Macedonia
Norway
Oman
Pakistan
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Qatar
Romania
Russian Federation
Rwanda
Saint Lucia
Saint Vincent and the Grenadines
Samoa
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Sierra Leone
Singapore
Slovakia
Slovenia
Solomon Islands
South Africa
South Korea
Spain
Sri Lanka
Sudan
Suriname
Sweden
Switzerland
Syrian Arab Republic
Tajikistan
Tanzania
Thailand
Togo
Trinidad and Tobago
Tunisia
Turkiye
Turkmenistan
Uganda
Ukraine
United Kingdom
United States of America
Uruguay
Uzbekistan
Vanuatu
Venezuela
Vietnam
Yemen
Zambia
Zimbabwe

In [77]:
for country in ss_df['country']:
    if (country not in country_list):
        print (country)

In [78]:
ss_type = ss_df['sss_depth'].values.ravel()
ss_type

array([2, 1, 3, 1, 3, 3, 1, 3, 1, 2, 3, 2, 1, 2, 2, 1, 1, 2, 2, 3, 2, 2,
       3, 1, 1, 2, 2, 3, 2, 2, 2, 2, 3, 2, 1, 3, 3, 3, 1, 2, 1, 1, 2, 2,
       4, 2, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1, 3, 1, 3, 1, 2, 1, 2, 1, 2, 2,
       2, 1, 2, 1, 3, 1, 3, 2, 2, 1, 5, 3, 1, 2, 3, 2, 2, 2, 3, 1, 1, 1,
       2, 1, 2, 1, 2, 2, 1, 2, 2, 3, 2, 1, 2, 1, 2, 3, 3, 1, 2, 3, 1, 1,
       2, 3, 1, 3, 1, 2, 1, 1, 1, 2, 3, 1, 1, 3, 2, 2, 1, 2, 1, 2, 1, 1,
       2, 3, 1, 1, 5, 2, 1, 2, 4, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 3, 3,
       2, 2, 2, 1, 3, 3, 3, 4, 2, 1, 2, 1, 2, 2, 1], dtype=int64)

In [79]:
ss_type_extended = []
for number in ss_type:
    ss_type_extended.extend([number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number])
ss_type_extended

[2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 ...]

In [80]:
ml_df['sss_depth'] = ss_type_extended
ml_df

,Life Expectancy,Alcohol Consumption,Tobacco Consumption,GDP per Capita,Goverment Expenditure per Capita,Private Expenditure per Capita,sss_depth
Albania 2000,73.96,6.570,35.00,1960.881946,105.456830,166.587886,2
Albania 2001,74.29,6.786,34.26,2143.526278,115.797918,173.488161,2
Albania 2002,74.58,7.002,33.52,2247.497491,117.765888,187.681174,2
Albania 2003,74.83,7.218,32.78,2380.643997,130.028157,185.781196,2
Albania 2004,75.04,7.434,32.04,2522.448714,149.138456,188.587613,2
...,...,...,...,...,...,...,...
Zimbabwe 2015,59.53,4.920,13.60,1410.329174,41.568815,109.674541,1
Zimbabwe 2016,60.29,4.920,13.10,1393.717011,50.205993,105.080846,1
Zimbabwe 2017,60.81,4.670,12.60,1421.24077,54.333036,102.421790,1
Zimbabwe 2018,61.20,4.670,12.10,1462.59028,86.310014,115.134644,1
Zimbabwe 2019,61.49,4.670,12.10,1342.989587,36.746649,110.071773,1

In [81]:
def bucket_le(le):
    if(le <= 45):
        le = 45
    elif(le > 45 and le <= 50):
        le = 50
    elif (le > 50 and le <= 55):
        le = 55
    elif (le > 55 and le <= 60):
        le = 60
    elif (le > 60 and le <= 65):
        le = 65
    elif (le > 65 and le <= 70):
        le = 70
    elif (le > 70 and le <= 75):
        le = 75
    elif (le > 75 and le <= 80):
        le = 80
    elif (le > 80 and le <= 85):
        le = 85
    return le

In [82]:
ml_df['Life Expectancy']= ml_df['Life Expectancy'].apply(bucket_le)

In [83]:
ml_df

,Life Expectancy,Alcohol Consumption,Tobacco Consumption,GDP per Capita,Goverment Expenditure per Capita,Private Expenditure per Capita,sss_depth
Albania 2000,75,6.570,35.00,1960.881946,105.456830,166.587886,2
Albania 2001,75,6.786,34.26,2143.526278,115.797918,173.488161,2
Albania 2002,75,7.002,33.52,2247.497491,117.765888,187.681174,2
Albania 2003,75,7.218,32.78,2380.643997,130.028157,185.781196,2
Albania 2004,80,7.434,32.04,2522.448714,149.138456,188.587613,2
...,...,...,...,...,...,...,...
Zimbabwe 2015,60,4.920,13.60,1410.329174,41.568815,109.674541,1
Zimbabwe 2016,65,4.920,13.10,1393.717011,50.205993,105.080846,1
Zimbabwe 2017,65,4.670,12.60,1421.24077,54.333036,102.421790,1
Zimbabwe 2018,65,4.670,12.10,1462.59028,86.310014,115.134644,1
Zimbabwe 2019,65,4.670,12.10,1342.989587,36.746649,110.071773,1

In [84]:
ml_df.to_csv("../Clean_Data/Supervised_Machine_Learning_Data/Supervised_ML.csv")

          Year  Value
Country
Albania   2000   13.2
Albania   2001   13.6
Albania   2002   14.0
Albania   2003   14.5
Albania   2004   14.9
...        ...    ...
Zimbabwe  2012   14.3
Zimbabwe  2013   14.6
Zimbabwe  2014   14.9
Zimbabwe  2015   15.2
Zimbabwe  2016   15.5

[2890 rows x 2 columns]

Country,Albania,Albania,Albania,Albania,Albania,Albania,Albania,Albania,Albania,Albania,...,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe
Year,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,...,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0
Value,13.2,13.6,14.0,14.5,14.9,15.4,16.0,16.5,17.0,17.6,...,12.9,13.2,13.5,13.8,14.1,14.3,14.6,14.9,15.2,15.5

            Year  Value
Country
Albania   2000.0   13.2
Albania   2001.0   13.6
Albania   2002.0   14.0
Albania   2003.0   14.5
Albania   2004.0   14.9
...          ...    ...
Zimbabwe  2012.0   14.3
Zimbabwe  2013.0   14.6
Zimbabwe  2014.0   14.9
Zimbabwe  2015.0   15.2
Zimbabwe  2016.0   15.5

[2890 rows x 2 columns]

KeyError: 'Country'

In [98]:
for country in country_list:
    if (country not in obesity_df['Country']):
        print (country)

KeyError: 'Country'

In [99]:
for country in obesity_df['Country']:
    if (country not in country_list):
        print (country)

KeyError: 'Country'