In [1]:
import warnings
warnings.filterwarnings('ignore')

# Import our dependencies
import numpy as np
import pandas as pd
from functools import reduce

In [2]:
# read in the social security system data.csv
systems_df = pd.read_csv("../../Clean_Data/Cluster_Analysis_Data/country_social_security_systems-coded.csv", encoding='utf-8')
systems_df

,country,sss_depth,s1,s2,s3,s4,s5
0,Albania,2,Universal medical benefits,Social insurance (cash benefits),NaN,NaN,NaN
1,Algeria,1,Social insurance system,NaN,NaN,NaN,NaN
2,Andorra,1,Social insurance system,NaN,NaN,NaN,NaN
3,Angola,3,Universal medical benefits,Social insurance (cash maternity benefits),Employer-liability (cash sickness benefit),NaN,NaN
4,Antigua and Barbuda,1,Social insurance system,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
178,Venezuela,2,Universal (birth grant and medical benefits),Social insurance (cash and medical benefits),NaN,NaN,NaN
179,Vietnam,1,Social insurance system,NaN,NaN,NaN,NaN
180,Yemen,2,Universal medical benefits,Employer-liability (cash benefits),NaN,NaN,NaN
181,Zambia,2,Universal medical benefits,Employer-liability (cash benefits),NaN,NaN,NaN
182,Zimbabwe,1,Employer-liability system (cash sickness and m...,NaN,NaN,NaN,NaN

In [3]:
# read in the GDP data 
gdp_df = pd.read_csv('../../Clean_Data/Cluster_Analysis_Data/gdp_clean.csv', encoding='utf-8')
gdp_df['GDP(M$)'] = gdp_df['GDP 2021'] / 1000000
gdp_df = gdp_df.drop(['GDP 2021'], axis=1)
gdp_df

                 country        GDP(M$)
0                Albania   18260.043500
1                Algeria  167983.141738
2                Andorra    3329.910724
3                 Angola   72546.985709
4    Antigua and Barbuda    1471.125926
..                   ...            ...
173              Vanuatu     983.469257
174              Vietnam  362637.524071
175                Yemen   21061.691630
176               Zambia   21203.059080
177             Zimbabwe   26217.726717

[178 rows x 2 columns]

In [4]:
# read in the Life Expectancy data
le_df = pd.read_csv('../../Clean_Data/Cluster_Analysis_Data/WHO-LEx-clean.csv', encoding='utf-8')
le_df

                 country  both_sexes_lex  female_lex  male_lex
0                Albania           78.00       79.91     76.25
1                Algeria           77.13       78.12     76.23
2                 Angola           63.06       65.52     60.70
3    Antigua and Barbuda           76.45       77.96     74.88
4              Argentina           76.58       79.50     73.51
..                   ...             ...         ...       ...
164            Venezuela           73.95       78.17     69.91
165              Vietnam           73.74       78.11     69.56
166                Yemen           66.63       68.92     64.41
167               Zambia           62.45       65.37     59.54
168             Zimbabwe           60.68       63.61     57.51

[169 rows x 4 columns]

In [5]:
# read in the Population data
pop_df = pd.read_csv('../../Clean_Data/Cluster_Analysis_Data/un_population_2022-clean.csv', encoding='utf-8')
pop_df

                 country  Population (M) 2022
0                Albania                  2.9
1                Algeria                 45.4
2                 Angola                 35.0
3    Antigua and Barbuda                  0.1
4              Argentina                 46.0
..                   ...                  ...
167            Venezuela                 29.3
168              Vietnam                 99.0
169                Yemen                 31.2
170               Zambia                 19.5
171             Zimbabwe                 15.3

[172 rows x 2 columns]

In [6]:
# read in the Health Expenditure data
he_df = pd.read_csv('../../Clean_Data/Cluster_Analysis_Data/health_expenditure-clean.csv', encoding='utf-8')
he_df

                 country  govt_he  private_he  govt_he_gdp
0                Albania   392.53      324.65         2.82
1                Algeria   487.79      262.32         4.06
2                Andorra  2582.32     1133.94         4.66
3                 Angola    73.39       98.99         1.04
4    Antigua and Barbuda   594.02      421.98         2.60
..                   ...      ...         ...          ...
168            Venezuela   177.03      207.32         2.47
169              Vietnam   244.78      308.67         2.30
170                Yemen    11.20       90.25         0.43
171               Zambia    77.16       31.21         2.13
172             Zimbabwe    36.75      110.07         1.36

[173 rows x 4 columns]

In [7]:
# read in the Alcohol Tobacco data
at_df = pd.read_csv('../../Clean_Data/Cluster_Analysis_Data/alcohol_tobacco-clean.csv', encoding='utf-8')
at_df

       country  tot_alcohol_consumption  tobacco_use_%
0      Albania                     7.17           23.0
1      Algeria                     0.95           21.0
2    Argentina                     9.65           24.9
3      Armenia                     5.55           25.8
4    Australia                    10.51           14.0
..         ...                      ...            ...
140    Vanuatu                     2.25           18.2
141    Vietnam                     8.66           25.0
142      Yemen                     0.05           20.5
143     Zambia                     6.54           14.6
144   Zimbabwe                     4.67           12.1

[145 rows x 3 columns]

In [8]:
# Read in the protein intake csv
pi_df = pd.read_csv('../../Clean_Data/Cluster_Analysis_Data/daily-protein-supply-animal-veg.csv', encoding='utf-8')
pi_df

,country,daily plant protein (g) 2013,daily animal protein (g) 2013
0,Albania,52.00,59.42
1,Algeria,66.97,24.99
2,Angola,38.86,18.40
3,Antigua and Barbuda,26.88,56.83
4,Argentina,35.70,66.94
...,...,...,...
158,Venezuela,34.89,38.12
159,Vietnam,50.56,31.05
160,Yemen,45.06,13.88
161,Zambia,45.99,9.23
162,Zimbabwe,36.59,11.76

In [9]:
# Read in the food supply csv
fs_df = pd.read_csv('../../Clean_Data/Cluster_Analysis_Data/food_supply_life_expectancy.csv', encoding='utf-8')
fs_df

                 country  Daily caloric supply (2018)
0                Albania                         3360
1                Algeria                         3322
2                 Angola                         2385
3    Antigua and Barbuda                         2445
4              Argentina                         3307
..                   ...                          ...
153            Venezuela                         2120
154              Vietnam                         3025
155                Yemen                         2154
156               Zambia                         2002
157             Zimbabwe                         1908

[158 rows x 2 columns]

In [10]:
# prepare to mass-merge the DataFrames
frames = [systems_df, gdp_df, le_df, pop_df, he_df, at_df, pi_df, fs_df]

combined_df = reduce(lambda left,right: pd.merge(left,right,on='country'),frames)
combined_df

,country,sss_depth,s1,s2,s3,s4,s5,GDP(M$),both_sexes_lex,female_lex,male_lex,Population (M) 2022,govt_he,private_he,govt_he_gdp,tot_alcohol_consumption,tobacco_use_%,daily plant protein (g) 2013,daily animal protein (g) 2013,Daily caloric supply (2018)
0,Albania,2,Universal medical benefits,Social insurance (cash benefits),NaN,NaN,NaN,1.826004e+04,78.00,79.91,76.25,2.9,392.53,324.65,2.82,7.17,23.0,52.00,59.42,3360
1,Algeria,1,Social insurance system,NaN,NaN,NaN,NaN,1.679831e+05,77.13,78.12,76.23,45.4,487.79,262.32,4.06,0.95,21.0,66.97,24.99,3322
2,Argentina,3,Universal medical benefits,Social insurance (cash maternity and medical b...,Employer-liability (cash sickness benefit),NaN,NaN,4.914927e+05,76.58,79.50,73.51,46.0,1371.24,822.13,5.93,9.65,24.9,35.70,66.94,3307
3,Armenia,3,Universal (birth or adoption grant and medical...,Social insurance (cash benefits),Social assistance (maternity benefits),NaN,NaN,1.386118e+04,76.03,79.16,72.49,3.0,200.49,1399.60,1.41,5.55,25.8,46.79,43.25,2997
4,Australia,3,Universal medical benefits,Employment-related (parental benefits),Social assistance (cash sickness benefits and ...,NaN,NaN,1.542660e+06,83.04,84.84,81.25,26.1,3795.18,1499.29,7.10,10.51,14.0,34.60,71.68,3391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,Uzbekistan,2,Universal medical benefits,Social insurance (cash benefits),NaN,NaN,NaN,6.923890e+04,73.01,75.21,70.76,34.4,173.84,243.95,2.34,2.59,17.8,54.24,29.19,3011
130,Vietnam,1,Social insurance system,NaN,NaN,NaN,NaN,3.626375e+05,73.74,78.11,69.56,99.0,244.78,308.67,2.30,8.66,25.0,50.56,31.05,3025
131,Yemen,2,Universal medical benefits,Employer-liability (cash benefits),NaN,NaN,NaN,2.106169e+04,66.63,68.92,64.41,31.2,11.20,90.25,0.43,0.05,20.5,45.06,13.88,2154
132,Zambia,2,Universal medical benefits,Employer-liability (cash benefits),NaN,NaN,NaN,2.120306e+04,62.45,65.37,59.54,19.5,77.16,31.21,2.13,6.54,14.6,45.99,9.23,2002
133,Zimbabwe,1,Employer-liability system (cash sickness and m...,NaN,NaN,NaN,NaN,2.621773e+04,60.68,63.61,57.51,15.3,36.75,110.07,1.36,4.67,12.1,36.59,11.76,1908

In [12]:
combined_df.head(55)

,country,sss_depth,s1,s2,s3,s4,s5,GDP(M$),both_sexes_lex,female_lex,male_lex,Population (M) 2022,govt_he,private_he,govt_he_gdp,tot_alcohol_consumption,tobacco_use_%,daily plant protein (g) 2013,daily animal protein (g) 2013,Daily caloric supply (2018)
0,Albania,2,Universal medical benefits,Social insurance (cash benefits),NaN,NaN,NaN,1.826004e+04,78.00,79.91,76.25,2.9,392.53,324.65,2.82,7.17,23.0,52.00,59.42,3360
1,Algeria,1,Social insurance system,NaN,NaN,NaN,NaN,1.679831e+05,77.13,78.12,76.23,45.4,487.79,262.32,4.06,0.95,21.0,66.97,24.99,3322
2,Argentina,3,Universal medical benefits,Social insurance (cash maternity and medical b...,Employer-liability (cash sickness benefit),NaN,NaN,4.914927e+05,76.58,79.50,73.51,46.0,1371.24,822.13,5.93,9.65,24.9,35.70,66.94,3307
3,Armenia,3,Universal (birth or adoption grant and medical...,Social insurance (cash benefits),Social assistance (maternity benefits),NaN,NaN,1.386118e+04,76.03,79.16,72.49,3.0,200.49,1399.60,1.41,5.55,25.8,46.79,43.25,2997
4,Australia,3,Universal medical benefits,Employment-related (parental benefits),Social assistance (cash sickness benefits and ...,NaN,NaN,1.542660e+06,83.04,84.84,81.25,26.1,3795.18,1499.29,7.10,10.51,14.0,34.60,71.68,3391
5,Austria,1,Social insurance system,NaN,NaN,NaN,NaN,4.770825e+05,81.65,83.78,79.44,9.1,4478.39,1655.74,7.62,11.96,27.1,43.35,62.86,3695
6,Azerbaijan,2,Universal medical benefits,Social insurance (cash benefits),NaN,NaN,NaN,5.462218e+04,71.43,74.09,68.78,10.3,192.30,411.81,1.28,4.41,24.2,63.07,30.08,3149
7,Bahamas,3,Universal medical benefits,Social insurance (cash benefits),Social assistance (medical benefits),NaN,NaN,1.120860e+04,73.21,76.59,69.85,0.4,1157.54,1058.74,2.99,4.78,10.7,30.19,56.43,2655
8,Bangladesh,1,Employer-liability system,NaN,NaN,NaN,NaN,4.162649e+05,74.25,75.64,72.99,167.9,22.96,92.78,0.46,0.02,35.2,45.92,9.92,2563
9,Barbados,2,Universal medical benefits,Social insurance (cash benefits),NaN,NaN,NaN,4.900800e+03,76.03,77.66,74.32,0.3,461.27,558.42,2.82,9.69,8.5,37.72,50.52,2956
10,Belarus,2,Universal (medical benefits and prenatal care ...,Social insurance (cash benefits),NaN,NaN,NaN,6.821882e+04,74.81,79.62,69.65,9.4,843.60,353.35,4.13,11.45,30.9,38.86,54.96,3270
11,Belgium,1,Social insurance system,NaN,NaN,NaN,NaN,5.998790e+05,81.42,83.51,79.29,11.7,4489.07,1357.83,8.18,11.08,23.9,41.47,58.12,3769
12,Belize,1,Social insurance (cash benefits),NaN,NaN,NaN,NaN,1.789923e+03,74.41,77.77,71.36,0.4,311.42,120.98,4.17,6.22,8.8,44.32,28.95,2775
13,Benin,2,Social insurance (cash maternity benefit),Employer-liability (cash sickness and medical ...,NaN,NaN,NaN,1.778564e+04,63.43,65.66,61.19,12.8,18.57,43.46,0.54,2.81,7.2,50.18,14.25,2755
14,Bolivia,3,Universal medical benefits,Social insurance (cash and medical benefits),Employer-liability (paternity benefits),NaN,NaN,4.040821e+04,72.14,73.13,71.15,12.0,449.33,174.32,4.93,4.43,13.2,36.25,29.76,2412
15,Botswana,2,Universal medical benefits,Employer-liability (cash benefits),NaN,NaN,NaN,1.761385e+04,62.25,65.46,58.95,2.4,881.15,171.99,4.75,6.59,19.8,38.45,26.41,2342
16,Brazil,2,Universal medical benefits,Social insurance (cash benefits),NaN,NaN,NaN,1.608981e+06,75.90,79.39,72.45,215.4,610.22,885.41,3.91,7.42,13.2,42.40,52.59,3301
17,Bulgaria,1,Social insurance system,NaN,NaN,NaN,NaN,8.027112e+04,75.07,78.60,71.65,6.8,1063.33,734.18,4.22,12.65,39.4,42.23,41.30,2854
18,Burkina Faso,1,Social insurance system (Maternity benefits),NaN,NaN,NaN,NaN,1.973762e+04,62.70,65.23,60.06,22.1,51.18,51.89,2.29,12.03,14.9,68.31,11.07,2737
19,Cabo Verde,2,Social insurance,Community-based social insurance,NaN,NaN,NaN,1.936174e+03,74.03,77.94,69.90,0.6,243.12,101.27,3.25,5.60,11.7,45.72,27.93,2541
20,Cambodia,3,Social insurance (cash sickness and maternity ...,Employer-liability (cash maternity benefit),Social assistance (cash maternity and medical ...,NaN,NaN,2.696106e+04,70.12,72.75,67.23,17.2,76.82,218.66,1.70,6.64,21.9,46.55,19.11,2492
21,Cameroon,2,Social insurance (cash maternity and medical a...,Employer-liability (cash sickness and medical ...,NaN,NaN,NaN,4.523861e+04,62.36,64.50,60.29,27.9,4.57,112.31,0.12,5.65,7.5,58.26,11.70,2733
22,Canada,2,Universal medical benefits,Social insurance (cash benefits),NaN,NaN,NaN,1.990762e+06,82.24,84.05,80.40,38.4,3873.70,1646.95,7.61,8.94,13.6,50.25,54.70,3566
23,Chad,2,Social insurance (cash maternity benefits),Employer-liability (cash sickness and maternit...,NaN,NaN,NaN,1.177998e+04,59.63,61.34,57.95,17.4,12.02,43.20,0.75,1.37,8.5,53.02,9.70,2115
24,Chile,3,Social insurance (cash and medical benefits),Mandatory private insurance (cash and medical ...,Employer-liability (paternity benefit),NaN,NaN,3.170585e+05,80.74,83.25,78.09,19.3,1234.31,1189.84,4.75,9.07,29.9,42.09,45.27,3029
25,China,2,Social insurance (cash and medical benefits),Mandatory individual account (medical benefits),NaN,NaN,NaN,1.773406e+07,77.43,80.49,74.73,1448.5,492.72,387.46,3.00,7.05,25.7,58.40,39.64,3206
26,Colombia,1,Social insurance and social assistance system,NaN,NaN,NaN,NaN,3.143225e+05,79.31,81.87,76.69,51.5,865.70,338.59,5.54,5.74,8.8,30.90,33.48,3114
27,Congo,3,Social insurance (cash maternity and medical b...,Employer-liability (cash sickness and maternit...,NaN,NaN,NaN,1.252396e+04,64.74,65.61,63.81,5.8,30.71,44.16,0.78,9.27,14.3,29.41,22.25,2285
28,Costa Rica,3,Social insurance (cash and medical benefits),Employer-liability (cash maternity benefits),Social assistance (medical benefits),NaN,NaN,6.428244e+04,80.85,83.44,78.31,5.2,1186.82,449.35,5.28,4.87,9.1,34.09,40.98,3029
29,Croatia,1,Social insurance system,NaN,NaN,NaN,NaN,6.783779e+04,78.64,81.60,75.54,4.1,1767.70,399.92,5.69,9.23,36.7,36.37,47.98,3074
30,Cuba,2,Universal medical benefits,Social insurance (cash and in-kind benefits),NaN,NaN,NaN,1.073520e+05,77.76,80.25,75.37,11.3,2320.95,275.17,10.13,5.83,18.7,59.09,31.77,3344
31,Cyprus,1,Social insurance system,NaN,NaN,NaN,NaN,2.771934e+04,83.14,85.12,81.12,1.2,1689.86,1306.30,3.93,10.81,35.5,32.56,45.05,3019
32,Czechia,1,Social insurance system,NaN,NaN,NaN,NaN,2.823408e+05,79.13,81.93,76.30,10.7,2833.72,643.30,6.39,14.45,30.9,36.99,50.48,3277
33,Denmark,2,Universal medical benefits,Employment-related (cash benefits),NaN,NaN,NaN,3.971043e+05,81.32,83.02,79.59,5.8,5010.26,1005.20,8.29,10.26,18.1,39.06,69.82,3401
34,Dominican Republic,2,Social insurance (cash and medical benefits),Social assistance (medical benefits),NaN,NaN,NaN,9.424345e+04,72.84,76.19,69.76,11.1,511.84,618.65,2.66,6.68,10.9,31.80,26.40,2892
35,Ecuador,2,Social insurance (cash and medical benefits),Employer-liability (cash maternity benefit),NaN,NaN,NaN,1.061659e+05,78.45,80.50,76.41,18.1,577.26,356.29,4.83,4.20,11.6,24.83,36.53,2606
36,Egypt,1,Social insurance system,NaN,NaN,NaN,NaN,4.041428e+05,71.82,74.14,69.59,106.2,161.77,414.29,1.32,0.36,24.4,76.90,26.34,3292
37,El Salvador,1,Social insurance system,NaN,NaN,NaN,NaN,2.873694e+04,75.03,79.13,70.58,6.6,416.88,235.62,4.55,3.89,8.3,46.65,25.25,2696
38,Estonia,1,Social insurance system,NaN,NaN,NaN,NaN,3.626292e+04,78.88,82.60,74.70,1.3,1947.35,668.93,5.01,9.23,30.5,50.66,53.24,3247
39,Eswatini,1,Employer-liability system (cash sickness and m...,NaN,NaN,NaN,NaN,4.941373e+03,57.73,63.18,53.36,1.2,309.73,141.32,3.44,10.04,9.3,41.02,17.58,2426
40,Ethiopia,2,Universal medical benefits,Employer-liability (cash benefits),NaN,NaN,NaN,1.112711e+05,68.70,70.52,66.90,120.8,17.05,32.44,0.74,2.36,5.2,52.71,7.69,2338
41,Fiji,2,Universal medical benefits,Employer-liability (cash benefits),NaN,NaN,NaN,4.592119e+03,68.01,70.28,65.93,0.9,356.57,149.42,2.50,3.32,23.4,42.23,31.37,2781
42,Finland,1,Social insurance system,NaN,NaN,NaN,NaN,2.991552e+05,81.61,84.04,79.16,5.6,3776.04,933.87,7.34,10.78,22.2,44.69,73.03,3343
43,France,1,Social insurance system,NaN,NaN,NaN,NaN,2.937473e+06,82.48,85.09,79.76,65.6,4136.52,1356.01,8.33,12.33,33.6,41.17,69.35,3502
44,Gambia,1,Employer-liability system (cash sickness and m...,NaN,NaN,NaN,NaN,2.078071e+03,65.47,67.65,63.42,2.6,24.17,24.38,1.04,3.55,11.6,47.45,14.10,2533
45,Georgia,3,Social insurance (cash maternity benefit),Employer-liability (cash sickness benefit),Social assistance (medical benefits),NaN,NaN,1.870024e+04,73.28,77.76,68.79,4.0,395.99,569.08,2.72,8.25,31.7,51.71,28.82,2835
46,Germany,1,Social insurance system,NaN,NaN,NaN,NaN,4.223116e+06,81.72,84.77,78.72,83.9,5237.68,1500.97,9.09,12.91,22.5,40.11,61.48,3554
47,Ghana,2,Social insurance (medical benefits),Employer-liability (cash maternity benefit),NaN,NaN,NaN,7.759428e+04,66.28,69.16,63.66,32.4,77.75,93.68,1.38,2.75,3.6,47.35,17.22,3035
48,Greece,1,Social insurance system,NaN,NaN,NaN,NaN,2.162406e+05,81.10,83.57,78.64,10.3,1164.06,1251.41,3.77,10.18,34.5,49.56,59.24,3382
49,Guatemala,1,Social insurance system,NaN,NaN,NaN,NaN,8.598632e+04,72.02,75.04,68.95,18.6,203.31,321.22,2.39,2.45,11.0,45.90,17.83,2551
50,Guinea-Bissau,2,Social insurance (cash sickness and medical be...,Employer-liability (cash maternity benefit),NaN,NaN,NaN,1.638518e+03,60.22,62.98,57.36,2.1,11.89,127.33,0.53,5.38,9.3,35.15,8.89,2229
51,Guyana,2,Universal medical benefits,Social insurance system,NaN,NaN,NaN,7.409180e+03,65.69,69.39,62.45,0.8,400.41,255.02,2.93,6.89,12.6,43.44,36.07,2913
52,Haiti,1,Social insurance system (cash benefits),NaN,NaN,NaN,NaN,2.094439e+04,64.05,64.76,63.34,11.7,15.81,69.60,0.52,2.73,7.9,37.57,10.15,2121
53,Hungary,1,Social insurance system,NaN,NaN,NaN,NaN,1.822805e+05,76.44,79.59,73.09,9.6,1465.64,690.27,4.32,11.35,32.2,36.75,42.10,3316
54,Iceland,3,Universal (medical benefits and cash parental ...,Social insurance (cash parental benefits),Employment-related (cash sickness benefits),NaN,NaN,2.545893e+04,82.33,83.87,80.81,0.3,4671.95,964.46,7.16,9.12,12.6,37.06,96.48,3654

In [ ]:
combined_df.to_csv('../../Clean_Data/Cluster_Analysis_Data/final/final_system_coded.csv', encoding='utf-8', index=False)