In [1]:
# Import our dependencies
import pandas as pd

In [6]:
#  Import and read the input csv
fsle_df = pd.read_csv('../Raw_Data/food-supply-vs-life-expectancy.csv', encoding='iso-8859-1')
fsle_df

,Entity,Code,Year,Life expectancy - Sex: all - Age: at birth - Variant: estimates,Daily caloric supply (OWID based on UN FAO & historical sources),Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1950,27.7,NaN,7480464.0,NaN
2,Afghanistan,AFG,1951,28.0,NaN,7571542.0,NaN
3,Afghanistan,AFG,1952,28.4,NaN,7667534.0,NaN
4,Afghanistan,AFG,1953,28.9,NaN,7764549.0,NaN
...,...,...,...,...,...,...,...
58281,Zimbabwe,ZWE,1946,NaN,NaN,2526552.0,NaN
58282,Zimbabwe,ZWE,1947,NaN,NaN,2575037.0,NaN
58283,Zimbabwe,ZWE,1948,NaN,NaN,2624453.0,NaN
58284,Zimbabwe,ZWE,1949,NaN,NaN,2681604.0,NaN
58285,Ã land Islands,ALA,2015,NaN,NaN,NaN,Europe

In [38]:
#  Import and read the updated input csv
fsle_df = pd.read_csv('food_supply_life_expectancy.csv')
fsle_df

,Unnamed: 0,Entity,Code,Year,Life expectancy - Sex: all - Age: at birth - Variant: estimates,Daily caloric supply (OWID based on UN FAO & historical sources)
0,642,Albania,ALB,2000,75.4,2734.0
1,643,Albania,ALB,2001,75.6,2803.0
2,644,Albania,ALB,2002,75.9,2864.0
3,645,Albania,ALB,2003,76.1,2772.0
4,646,Albania,ALB,2004,76.4,2792.0
...,...,...,...,...,...,...
3845,58093,Zimbabwe,ZWE,2017,60.7,1891.0
3846,58094,Zimbabwe,ZWE,2018,61.4,1908.0
3847,58095,Zimbabwe,ZWE,2019,61.3,NaN
3848,58096,Zimbabwe,ZWE,2020,61.1,NaN
3849,58097,Zimbabwe,ZWE,2021,59.3,NaN

In [7]:
# Drop the population estimate column
fsle_df = fsle_df.drop(['Population (historical estimates)','Continent'], 1)

C:\Temp\ipykernel_10476\2059819700.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  fsle_df = fsle_df.drop(['Population (historical estimates)','Continent'], 1)

In [39]:
# Drop the udpated file index column
fsle_df = fsle_df.drop(['Unnamed: 0', 'Code'], 1)

C:\Temp\ipykernel_10476\2844385646.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  fsle_df = fsle_df.drop(['Unnamed: 0', 'Code'], 1)

In [35]:
fsle_df

,Entity,Year,Life expectancy - Sex: all - Age: at birth - Variant: estimates,Daily caloric supply (OWID based on UN FAO & historical sources)
0,Albania,2000,75.4,2734.0
1,Albania,2001,75.6,2803.0
2,Albania,2002,75.9,2864.0
3,Albania,2003,76.1,2772.0
4,Albania,2004,76.4,2792.0
...,...,...,...,...
3867,Zimbabwe,2017,60.7,1891.0
3868,Zimbabwe,2018,61.4,1908.0
3869,Zimbabwe,2019,61.3,NaN
3870,Zimbabwe,2020,61.1,NaN
3871,Zimbabwe,2021,59.3,NaN

In [21]:
fsle_df = fsle_df[fsle_df['Year']>=2000]
fsle_df = fsle_df[fsle_df['Year']<=2022]
fsle_df

,Entity,Code,Year,Life expectancy - Sex: all - Age: at birth - Variant: estimates,Daily caloric supply (OWID based on UN FAO & historical sources)
0,Albania,ALB,2000,75.4,2734.0
1,Albania,ALB,2001,75.6,2803.0
2,Albania,ALB,2002,75.9,2864.0
3,Albania,ALB,2003,76.1,2772.0
4,Albania,ALB,2004,76.4,2792.0
...,...,...,...,...,...
3845,Zimbabwe,ZWE,2017,60.7,1891.0
3846,Zimbabwe,ZWE,2018,61.4,1908.0
3847,Zimbabwe,ZWE,2019,61.3,NaN
3848,Zimbabwe,ZWE,2020,61.1,NaN
3849,Zimbabwe,ZWE,2021,59.3,NaN

In [22]:
# Open the master list of countries
countries_df = pd.read_csv('../Clean_Data/country_profile_urls.csv')
countries_df = countries_df.drop(['profile_url'], 1)

C:\Temp\ipykernel_10476\822363187.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  countries_df = countries_df.drop(['profile_url'], 1)

In [23]:
country_list = countries_df['country'].tolist()
country_list

['Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Costa Rica',
 "Côte d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong (China)',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyz Republic',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Taiwan (China)',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Türkiye',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Kingdom',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [30]:
# Create a list of Food Supply countries
fs_countries = fsle_df['Entity'].tolist()
fs_countries

['Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Costa Rica',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 ...]

In [31]:
# clean the FS data based on the SS country list
no_match = []

for country in fs_countries:
    if country in country_list:
        continue
    else:
        no_match.append(country)

In [32]:
# Likely need to do manual country name clean-up for accented characters and abbreviations.
no_match

[]

In [16]:
fsle_clean_df = fsle_df.drop(fsle_df[fsle_df['Entity'].isin(no_match)].index.tolist())
fsle_clean_df

,Entity,Code,Year,Life expectancy - Sex: all - Age: at birth - Variant: estimates,Daily caloric supply (OWID based on UN FAO & historical sources)
642,Albania,ALB,2000,75.4,2734.0
643,Albania,ALB,2001,75.6,2803.0
644,Albania,ALB,2002,75.9,2864.0
645,Albania,ALB,2003,76.1,2772.0
646,Albania,ALB,2004,76.4,2792.0
...,...,...,...,...,...
58093,Zimbabwe,ZWE,2017,60.7,1891.0
58094,Zimbabwe,ZWE,2018,61.4,1908.0
58095,Zimbabwe,ZWE,2019,61.3,NaN
58096,Zimbabwe,ZWE,2020,61.1,NaN
58097,Zimbabwe,ZWE,2021,59.3,NaN

In [36]:
fsle_clean_df.to_csv('food_supply_life_expectancy.csv')

In [37]:
#fsle_clean_transform_df = fsle_clean_df.set_index('Entity').T
#fsle_clean_transform_df

Entity,Albania,Albania,Albania,Albania,Albania,Albania,Albania,Albania,Albania,Albania,...,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe
Code,ALB,ALB,ALB,ALB,ALB,ALB,ALB,ALB,ALB,ALB,...,ZWE,ZWE,ZWE,ZWE,ZWE,ZWE,ZWE,ZWE,ZWE,ZWE
Year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Life expectancy - Sex: all - Age: at birth - Variant: estimates,75.4,75.6,75.9,76.1,76.4,76.6,76.8,77.5,77.7,77.8,...,55.6,57.5,58.8,59.6,60.3,60.7,61.4,61.3,61.1,59.3
Daily caloric supply (OWID based on UN FAO & historical sources),2734.0,2803.0,2864.0,2772.0,2792.0,2874.0,2855.0,2860.0,2947.0,2993.0,...,2197.0,2110.0,1986.0,1912.0,1885.0,1891.0,1908.0,NaN,NaN,NaN

In [ ]:
#fsle_clean_transform_df.to_csv('food_supply_life_expectancy_transform.csv')